<div class="channel-container"> 
  <div class="media">
     <%= link_to image_tag(channel.user.avatar(:thumb), :class => "media-object").html_safe, user_path(channel.user), :alt => channel.user.username, :class => "pull-left" %>
    <div class="media-body">
      <h3 class="media-heading"><%= link_to channel.user.username , user_path(channel.user), :class => "special-hover-link" %></h3>
      <ul class="list-inline">
        <li>
          <%= link_to "#{channel.user.likes_count} Likes".html_safe, likes_user_path(channel.user) %>
        </li>
        <li>
          <%= link_to "#{channel.user.pages_count} Pages".html_safe, pages_user_path(channel.user) %>
        </li>
      
        <li>
          <%= link_to "#{channel.user.comments_count} Comments".html_safe, comments_user_path(channel.user) %>
        </li>

        <li>
          <%= link_to "#{channel.user.comments_count} Comments".html_safe, comments_user_path(channel.user) %>
        </li>
        
      </ul>
    </div>
  </div>     
  <!-- <div id="my-sqooz-show-page">
    <div class="row margin-0" id="frame-container"> -->
      <!-- <div class="margin-0 padding-0 col-xs-12 col-sm-12 text-center"> -->
        <!-- <div id="my-splash-box" style="background: transparent;"> -->
          
          <%= link_to (image_tag channel.cover_photo(:medium)).html_safe, channel_path(channel) %>
         <!--  <div class="splash-image cover-image" style="background-image: url('<%= request.protocol +  request.host_with_port + channel.cover_photo.url %>')" class="cover-image"></div> -->
          <div class="splash-content">
            <div class="alpha-static">
              <h3 class="margin-0"><%= link_to channel.title, channel_path(channel) %></h3>
              <p class="margin-0">Created by: <%= link_to channel.user.username, user_path(channel.user) %></p>
              <ul class="list-inline margin-bottom-0">
                <li>
                  <%= channel.followers_counter %> Followers
                </li>
                <li>
                  <%= channel.pages_count %> Pages
                </li>
                <% unless @following_ids.nil? %>
                <li>
                  <%= follow_unfollow_small_link("Channel", channel.id, !@following_ids.include?(channel.id), "pull-right") %>
                </li> 
                <% end %>
              </ul>
            </div>
          </div>
       <!--  </div> -->
      <!-- </div> -->
    <!-- </div>
    
  </div> -->
</div>