<% if @channel.errors.any? %>
    
    <div id="error_explanation" class="alert alert-danger">
      <h3 class="margin-top-0"><%= pluralize(@channel.errors.count, "error") %> prohibited this task from being saved:</h3>
      <ul class="list-unstyled">
      <% @channel.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>

<% end %>

<%= form_for @channel, :html => {:multipart => true, :class => "white-box form-horizontal page-form", :role => "form"} do |f| %>
    <div class="form-group">
      <h1 class="text-center">Create a Channel</h1>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
      </div>
    </div>
    
    
    
    <div class="form-group margin-bottom-0">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :about, "Write about the channel" %>
        <%= f.text_area :about, :class => "form-control", :placeholder => "Write about the channel" %>
      </div>
      
    </div>

    <div class="form-group" id="image-upload">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :cover_photo, "Cover Image" %>
        <%= f.file_field :cover_photo, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group margin-top-10">
      <div class="col-sm-10 col-sm-offset-1">
        <% if @channel.new_record? %>
          <%= f.submit "Create", :class => "btn btn-primary pull-right" %>
        <% else %>
          <%= f.submit "Update", :class => "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
    
<% end %>