<div class="container-fluid margin-0 padding-0" id="my-sqooz-show-page">
  <div class="row margin-0" id="frame-container">
    <div class="margin-0 padding-0 col-xs-12 col-sm-12 text-center">
      <div id="my-splash-box">
        
        <div class="bluring"></div>
        <div class="overlay-light"></div>
        <div id="splash-image" style="background-image: url('<%= request.protocol + request.host_with_port + @channel.cover_photo(:original) %>')" class="cover-image"></div>
        <div id="splash-content" class="padding-20" style="bottom: 0px; top: auto;">
          <h1 class="margin-0"><%= @channel.title %></h1>
          <p class="margin-0"><%= link_to @channel.user.username, user_path(@channel.user) %></p>
          <ul class="list-inline margin-bottom-0">
            <li>
              <%= @channel.followers_counter %> Followers
            </li>
            <li>
              <%= @channel.pages_count %> Pages
            </li>
            <% unless @following_ids.nil? %>
            <li>
              <%= follow_unfollow_small_link("Channel", @channel.id, !@following_ids.include?(@channel.id), "pull-right") %>
            </li> 
            <% end %>
          </ul>
          <p>
            <%= truncate(@channel.about, :length => 600) %>
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="container margin-top-30" >
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 "> 
      <ul class="list-unstyled" id="my-list-container">   
        <%= render partial: "pages/page_list", collection: @pages, :as => :page %>
      </ul>
    </div>
  </div>
  <%= link_to_next_page @pages, 'Next Page', :class => "hide" %>
</div>