<% content_for :title, "Add a channel on #{SITENAME}" %>
<% content_for :description, "Add channels and pages of different interests #{SITENAME}"  %>
<div class="container" id="new-page-container">
  <div class="row">
    <%= render "form.html.erb" %>
  </div>
</div>