<div class="container" >
<div class="margin-top-30"></div>
  <div class="row">
    
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div id="my-list-container">
        <ul class="list-unstyled">
          <%= render partial: "users/list", collection: @lists %>
        </ul>
      </div>
    </div>
  </div>
  
  <%= link_to_next_page @lists, 'Next Page' %>

</div>