<div class="container margin-top-30" >
  <div class="row">
    <div class="col-xs-12">
      <h1>Trending Pages</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="my-grid-container">
        <div id="masnory-container">
          <%= render partial: "pages/page", collection: @pages, :as => :page , :locals => {:channel => true} %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to_next_page @pages, 'Next Page', :class => "hide" %>
</div>

<%= render :partial => "shared/share_modal" %>