<%= form_for(@request_invite) do |f| %>
  <% if @request_invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_invite.errors.count, "error") %> prohibited this request_invite from being saved:</h2>

      <ul>
      <% @request_invite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.check_box :author %>
  </div>
  <div class="field">
    <%= f.label :what_write %><br>
    <%= f.text_area :what_write %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
