<h1>Listing request_invites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th>Author</th>
      <th>What write</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @request_invites.each do |request_invite| %>
      <tr>
        <td><%= request_invite.name %></td>
        <td><%= request_invite.about %></td>
        <td><%= request_invite.author %></td>
        <td><%= request_invite.what_write %></td>
        <td><%= link_to 'Show', request_invite %></td>
        <td><%= link_to 'Edit', edit_request_invite_path(request_invite) %></td>
        <td><%= link_to 'Destroy', request_invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request invite', new_request_invite_path %>
