<%= content_for :head do  %>
<!-- Facebook Conversion Code for Sqooz Share and Win -->
<script type="text/javascript">
window.loaded_addthis = true
var fb_param = {};
fb_param.pixel_id = '6013395140350';
fb_param.value = '0.00';
fb_param.currency = 'INR';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6013395140350&amp;value=0&amp;currency=INR" /></noscript>
<% end %>
<div class="container white-box margin-top-30">
  <div class="row">
    <% if params.has_key?(:win) %>
      <div class="col-xs-10 margin-top-20 table-bordered padding-20 light-gray text-center col-xs-offset-1">
        <h1>
          Love writing and sharing awesome stuff on internet? Why not monetize what you love?
        </h1>
        
        <p class="large-font">
          Sqooz brings you its first open contest where you get paid between Rs 100-500 for writing and sharing stories on internet. Start <b><i>sqoozing</i></b> in three simple steps.  
        </p>
        <ul class="list-unstyled">
          <li>
            <h3>1. Request an invitaion</h3>
            <p class="large-font">
              Check you email for an invitation within 24 hours. We work hard to send invitations asap.
            </p>
          </li>
          <li>
            <h3>2. Write awesome stuff</h3>
            <p class="large-font">Write something unique that people will love. The more people love your stories that more you get paid.</p>
          </li>
          <li>
            <h3>3. Share it with the world</h3>
            <p class="large-font">Share it on as many social networks as possible. Sharing attracts more readers and you get paid more.</p>
          </li>
        </ul>       
        
        <span class="help-block">For more information please email us at <%= mail_to "lets@sqooz.it", "lets@sqooz.it", :target => "_blank", :class => "blue-link" %></span>
      </div>
    <% end %>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-xs-offset-3">
      
      <h2>Request an invite</h2>
      <% unless params.has_key?(:win) %>
      <p>At this time we are doing lot of improvements to the site and have paused sending new invitations. But you can still request an invite, if you are patient.</p>
      <% end %>
      <%= form_for(@request_invite) do |f| %>
        <% if @request_invite.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@request_invite.errors.count, "error") %> prohibited this request_invite from being saved:</h2>

            <ul>
            <% @request_invite.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <div class="form-group" >
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => true, :class => "form-control required", :placeholder => "Name" %>
          </div>

          <div class="form-group" >
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, :class => "form-control email required", :placeholder => "Email" %>
          </div>

          <div class="form-group" >
            <%= f.label :about, "Tell us something about you" %>
            <%= f.text_area :about, :class => "form-control required", :placeholder => "Tell us something about you" %>
          </div>
          <% if params.has_key?(:win) %>
            <%= f.hidden_field :paid, :value => true %>
            <div class="form-group" >
              <%= f.label :fb_link, "Facebook profile url" %>
              <%= f.text_field :fb_link, :class => "form-control required", :placeholder => "Facebook profile url" %>
            </div>
            <div class="form-group" >
              <%= f.label :twitter_link, "Twitter profile url" %>
              <%= f.text_field :twitter_link, :class => "form-control required", :placeholder => "Twitter profile url" %>
            </div>
          <% end %>
          <% if params.has_key?(:auth) %>
          
            
            <%= f.hidden_field :author, :value => true %>
          

          <div class="form-group" >
            <%= f.label :what_write, "What would you write about?" %>
            <%= f.text_area :what_write, :class => "form-control required", :placeholder => "What would you write about?" %>
          </div>
          <% end %>
          
          <div class="form-group">
            <%= f.submit "Request Invite", :class => "btn btn-primary" %>
            <span class="text-muted"> <!-- or </span> <%= link_to "Sign in", new_session_path(:user), :title => "Login" %>
            <%= link_to "Forgot your password?", new_password_path(:user), :class => "pull-right" %> -->
          </div>
      <% end %>
      <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <% ["facebook", "twitter", "stumbleupon", "pinterest_share", "email", "reddit", "blogger", "tumblr", "wordpress", "scoopit", "digg", "delicious"].each do |name| %>
          <a class="addthis_button_<%= name %>"></a>
        <% end %>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <div class="margin-bottom-30"></div>
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_google_plusone"></a>
          <a class="addthis_button_facebook_like"></a>
        </div>
        <!-- AddThis Button END -->
    </div>
     
          
  </div>
</div> 
