<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New invitation reuested</h1>
    <p>
      Name: <%= @invite.name %>
    </p>
    <p>
      Author: <%= @invite.author %>
    </p>
    <p>
      About: <%= @invite.about %>
    </p>
    <p>
      FB: <%= @invite.fb_link %>
    </p>
    <p>
      Twitter: <%= @invite.twitter_link %>
    </p>
    <p>
      Email: <%= @invite.email %>
    </p>
    <p>
      What would I write about: <%= @invite.what_write %>
    </p>
    <p>
      Invited At: <%= @invite.created_at %>
    </p>
  </body>
</html>