<li>
<% page =  activity.page %>
  <div class="thumbnail">
    <%= image_tag page.cover_photo(:medium), :alt => page.title %>
    <div class="caption">
      <h3><%= page.title %></h3>
      <p><%= about_page_trunc(page) %></p>
      <p><%= page.interest.name %></p>
      <p><%= page.domain %></p>
      <p><%= page.likes_count %></p>
      <p><%= page.unlikes_count %></p>
      <p><%= page.comments_count %></p>
      <% if current_user %>
      <p><%= link_to "Add to the list", "javascript:void(0)", :class => "add-to-list", :data => {:page => page.slug, :id => page.id} %></p>
      <p><%= link_to "Share", "javascript:void(0)" , :class => "share-the-page",  :data => {:url => page.slug_url, :title => page.title, :description => page.plain_about} %></p>
      <p><%= link_to "Comment",  "javascript:void(0)", :class => "comment-on-page", :data => {:page => page.slug, :id => page.id, :interest_id => page.interest_id} %></p>
      <% end %>
    </div>
  </div>
</li>