<li>
  <% page = comment.page %>
  <div class="media">
    <%= link_to (image_tag page.photo(:thumb), :class => "media-object comment-img img-thumbnail", :alt => page.title).html_safe, page.slug_path , :class => "pull-left"  %>

    <div class="media-body">
      <div class="clearfix">
        <h2 class="media-heading pull-left"><%= link_to page.title, page.slug_path %></h2>
      </div>
      <p class="about-record"><%= about_page_truncate(page) %></p>
      <div class="clearfix">
        <ul class="list-inline pull-left">
          <% if page.likes_count > 0 %>
          <li>
            <%= "#{page.likes_count} likes" %>
          </li>
          <% end %>
          <% if page.comments_count > 0 %>
            <li>
              <%= "#{page.comments_count} comments"  %>
            </li>
          <% end %>
          <% if page.saves_count > 0 %>
            <li>
              <%= "#{page.saves_count} added to list"  %>
            </li>
          <% end %>
        </ul>

        <ul class="list-inline pull-right">
          <li><%= link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, "javascript:void(0)", :class => "special-hover-link #{current_user ? 'add-to-list' : 'login'}", :data => {:page => page.slug, :id => page.id} %>
          </li>
          <li>
            <%= link_to "<span class='glyphicon glyphicon-comment'></span>".html_safe,  "javascript:void(0)", :class => "special-hover-link #{current_user ? 'comment-on-page' : 'login'}", :data => {:page => page.slug, :id => page.id, :interest_id => page.interest_id} %>
          </li>
          <li>
            <%= link_to "<span class='glyphicon glyphicon-share'></span>".html_safe, "javascript:void(0)" , :class => "special-hover-link #{current_user ? 'share-the-page' : 'login'}",  :data => {:url => page.slug_url, :title => page.title, :description => page.plain_about} %>
          </li>
          <li class="page-domain">
            <p><%= page.domain %></p>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="comment-blk"><%= comment.content %></div>
  </div>

</li>