<div class="page-container">
  <% page =  like.page %>
  

  <div class="image-container" >
    <div class="overlay-light"></div>
    <% if page.plain_about.present? %>
      <div class="about-page alpha alpha80" aria-labelledby="About" aria-hidden="true" >
        <h3 class="normal-font"><%= about_page_trunc(page) %></h3>
        <div class="content-up"><span class="glyphicon glyphicon-chevron-up"></span></div>
      </div>
      <div class="content-down alpha-static">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    <% end %>

    <div class="list-name text-left alpha-static">
     <h3 class="margin-0 normal-font bold"><%= link_to page.interest.name, show_interest_path(page.interest.slug)  %></h3>
      <% if defined? listing %>
        <h3 class="margin-0 margin-top-5 normal-font"><%= link_to truncate(listing.list.title, length: 40) , pages_ptype_user_path(listing.list.user, listing.list.slug) %></h3>
      <% end %>
    </div>
   
    <%= link_to '<div class="glyphicon .visible-xs glyphicon-play-circle"></div>'.html_safe, page.slug_path, :class => "play-icon" %>
    <%= image_tag page.cover_photo(:medium), :class => "page-image", :alt => page.title %>
   
    
    
  </div>
  <div class="page-bar">
      <h3><%= link_to truncate(page.title, :length => 40), page.slug_path %></h3> 
      <div class="clearfix ">
        <ul class="list-inline pull-left margin-bottom-0">
          <li><%= link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, "javascript:void(0)", :class => "#{current_user ? 'add-to-list' : 'login'}", :data => {:page => page.slug, :id => page.id} %>
          </li>
          <li>
            <%= link_to "<span class='glyphicon glyphicon-comment'></span>".html_safe,  "javascript:void(0)", :class => "#{current_user ? 'comment-on-page' : 'login'}", :data => {:page => page.slug, :id => page.id, :interest_id => page.interest_id} %>
          </li>
          <li>
            <%= link_to "<span class='glyphicon glyphicon-share'></span>".html_safe, "javascript:void(0)" , :class => "#{current_user ? 'share-the-page' : 'login'}",  :data => {:url => page.slug_url, :title => page.title, :description => page.plain_about} %>
          </li>
          <li>
            <p class="margin-0"><%= truncate(page.domain, :length => 24) %></p>
          </li>
        </ul>
      </div>
      <% if page.likes_count > 0 || page.saves_count > 0 %>
        <div class="clearfix text-left">
          <ul class="list-inline margin-top-10 margin-bottom-0">
            <% if page.likes_count > 0 %>
            <li>
              <%= "#{page.likes_count} likes" %>
            </li>
            <% end %>
            <% if page.saves_count > 0 %>
              <li>
                <%= "#{page.saves_count} added to list"  %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if defined? activity %>
        <p class="activity-text"><%= activity_text(activity) %></p>
      <% end %>
    </div>
</div>