<div class="col-xs-12"> 
  <% if @interest %>
  <h1><%= @user.username.titleize %>'s <%= @interest.name %> Likes</h1>
  <% else %>
  <h1><%= @user.username.titleize %>'s Likes</h1>
  <% end %>
  <ul class="nav margin-0 nav-pills inner-filters text-left">
    <li class="<%= 'active' if !params[:filter] && !params[:iname] %>">
      <%= link_to "All", likes_user_path(@user) %>
    </li>
    <% if params[:iname] %>
    <li class="dropdown active">
         <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
          <%= @interests.all.find{|i| i.slug == params[:iname]}.try(:name) %> <span class="caret"></span>
        </a>
      <% else %>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
          By Interest <span class="caret"></span>
        </a>
      <% end %>
      <ul class="dropdown-menu" role="menu">
        <% @interests.each do |int| %>
          <li>
            <%= link_to int.name, likes_interest_user_path(@user, int.slug) %>
          </li>
        <% end %>
      </ul>
    </li>
    <% if params[:cname] %>
    <li class="dropdown active">
         <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
          <%= @channels.all.find{|i| i.slug == params[:cname]}.try(:title) %> <span class="caret"></span>
        </a>
      <% else %>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
          By Channel<span class="caret"></span>
        </a>
      <% end %>
      
      <ul class="dropdown-menu" role="menu">
        <% @channels.each do |channel| %>
          <li>
          <%# This is ptype_path coz we used to have many ptype but later we decided to use just videos, that is why we just used same old paths %>
            <%= link_to channel.title, likes_channel_user_path(@user, channel.slug) %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>