<li class="row my-border clearfix">
  <div class="media col-xs-10">
    <div class="row">
      <div  class="col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-3 col-lg-2 thumb-container">
        <%= link_to (image_tag list.photo(:thumb), :class => "media-object", :alt => list.title).html_safe, pages_ptype_user_path(list.user, list.slug)   %>
      </div>
      <div  class="col-xs-6 col-sm-8 col-md-9 col-lg-8 media-body-container">
        <div class="media-body">
          <div class="clearfix">
            <h3 class="media-heading pull-left">
              <%= link_to list.title, pages_ptype_user_path(list.user, list.slug) %>
            </h3>            
          </div>
          <p class="about-record margin-bottom-5"><%= list.about %></p>
         
          <ul class="list-inline pull-left links-layer">
            <li>
              <%= link_to "#{list.pages_count} Pages", pages_ptype_user_path(list.user, list.slug) %>
            </li>
            <li>
              <%= link_to "#{list.followers_counter} Followers",  pages_ptype_user_path(list.user, list.slug) %>
            </li>
            <li>Created by: <%= link_to list.user.username, user_path(list.user), :class => "special-hover-link" %></li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="padding-5 col-xs-2">
    <% if list.user_id != current_user.try(:id) %>
      <% if  @following_ids %>
        <%= follow_unfollow_link("List", list.id, !@following_ids.include?(list.id), "pull-right") %>
      <% elsif defined?(following) %>
        <%= follow_unfollow_link("List", list.id, !following, "pull-right") %>
      <% else %>
        <%= follow_unfollow_link("List", list.id, true, "pull-right") %>
      <% end %>
    <% end %>
  </div>
</li>