<% return if current_user.try(:id) == user.id %>
<li class="row my-border clearfix">
<div class="media col-xs-10">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-3 col-lg-2 thumb-container">
      <%= link_to (image_tag user.avatar(:thumb), :class => "media-object user-thumb", :alt => user.username).html_safe, user_path(user) %>
    </div>
    <div  class="col-xs-6 col-sm-8 col-md-9 col-lg-8 media-body-container">
      <div class="media-body">
      <div class="clearfix">
        <h3 class="media-heading"><%= link_to user.username, user_path(user) %></h3>
      </div>
      <p class="about-record"><%= truncate(user.about, :length => 40, omission: '...') %> <%= link_to "view more", user_path(user), :class => "special-hover-link" %></p>
      <ul class="list-inline links-layer">
        <li>
          <!-- TODO: Fix it -->
          <%= link_to "#{user.likes_count} Likes", likes_user_path(user) %>
        </li>
        <li>
          <%= link_to "#{user.pages_count} Pages", pages_user_path(user) %>
        </li>
        <li>
          <!-- TODO: Fix it -->
          <%= link_to "#{user.lists_count} Lists", lists_user_path(user) %>
        </li>
        <li>
          <%= link_to "#{user.comments_count} Comments", comments_user_path(user) %>
        </li>
        <li>
          <%= link_to "#{user.follows_counter} Following", following_user_path(user) %>
        </li>
        <li>
          <%= link_to "#{user.followers_counter} Followers", followers_user_path(user) %>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>

<div class="padding-5 col-xs-2">
<% if  @following_ids %>
  <%= follow_unfollow_link("User", user.id, !@following_ids.include?(user.id), "pull-right") %>
<% else %>
  <%= follow_unfollow_link("User", user.id, !following, "pull-right") %>
<% end %>
</div>
</li>
