<div class="container" >
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @user.username %>'s Channels</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="masnory-container-channel">
        <%= render partial: "channels/channel", collection: @channels %>
      </div>
    </div>
  </div>
</div>