<% content_for :title, "#{@user.username} comments on #{SITENAME}" %>
<% content_for :description, "Most recent comment from #{@user.username}: #{@comments[0].try(:content)}"  %>
<div class="container" id="comments-container">
<div class="margin-top-30"></div>
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-sm-push-8">

        <div class="page-container user-profile-container">
          <%= render :partial => "shared/user_info" %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-8 col-sm-pull-4">
        <h1><%= @user.username.titleize %> Comments</h1>
        <div id="my-list-container">
          <ul class="list-unstyled">
            <%= render partial: "comment", collection: @comments %>
          </ul>
      </div>
    </div>


   <%= link_to_next_page @comments, 'Next Page', :class => "hide" %>

</div>