<%#= render :partial => "shared/user_info" %>
<% content_for :title, "Lists followed by #{@user.username} on #{SITENAME}" %>
<% content_for :description, "#{@user.username} is following #{pluralize(@lists.total_count, 'list')} on #{SITENAME}. Check out awesome videos from #{@lists[0..1].map{|u| u.title}.join(", ")} and more" %>

<div class="container" >

    <div class="row">
      <div class="col-xs-12"> 
        <h1>Lists <%= @user.username %> Follows</h1>
        <ul class="nav margin-0 nav-pills inner-filters text-left">
          <li class="active"><%= link_to "Sqoozers", following_user_path %></li>
          <li><%= link_to "Lists", following_lists_user_path %></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="page-container user-profile-container">
          <%= render :partial => "shared/user_info" %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-8 col-sm-pull-4">
        <div id="my-list-container">
          <ul class="list-unstyled">
            <%= render partial: "list", collection: @lists, :locals => {:following => true} %>
          </ul>
      </div>
    </div>


  <%= link_to_next_page @lists, 'Next Page' %>

</div>
