<div class="container" >
  <div class="row">
    <div class="col-xs-12">
      <h1>Channels followed by <%= @user.username %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="masnory-container-channel">
        <%= render partial: "channels/channel", collection: @channels %>
      </div>
    </div>
  </div>
</div>