<% content_for :title, "#{@user.username} followers on #{SITENAME}" %>
<% content_for :description, "#{@user.username} is followed #{pluralize(@users.total_count, 'user')} on #{SITENAME}. Follow #{@user.username} on #{SITENAME}" %>
<div class="container" >
  <div class="margin-bottom-30"></div>
  <div class="row">
   


    <div class="col-xs-12 col-sm-4 col-sm-push-8">
      <div class="page-container user-profile-container">
        <%= render :partial => "shared/user_info" %>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-sm-pull-4">
      <%= @user.username.titleize %> Followers
      <div id="my-list-container">

        <ul class="list-unstyled">
          <%= render partial: "user", collection: @users %>
        </ul>
      </div>
    </div>

  </div>
  
  <%= link_to_next_page @users, 'Next Page', :class => "hide" %>

</div>