<%#= render :partial => "shared/user_info" %>
<% content_for :title, "Users followed by #{@user.username} on #{SITENAME}" %>
<% content_for :description, "#{@user.username} is following #{pluralize(@users.total_count, 'user')} on #{SITENAME}. Check out profiles of #{@users[0..1].map{|u| u.username}.join(", ")} and many others" %>

<div class="container margin-top-30" >
  <div class="row">
    <div class="col-xs-12"> 
      <h1><%= @user.username %> Follows</h1>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-push-8">
      <div class="page-container user-profile-container">
        <%= render :partial => "shared/user_info" %>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-sm-pull-4">
      <div id="my-list-container">
        <ul class="list-unstyled">
          <%= render partial: "user", collection: @users, :locals => {:following => true} %>
        </ul>
      </div>
    </div>

  </div>
  
  <%= link_to_next_page @users, 'Next Page', :class => "hide" %>

</div>
