<div class="container" >
  <div class="row">
    <div class="col-xs-12"> 
      <ul class="nav margin-0 nav-pills   inner-filters text-left">
        <li class="active">
          <%= link_to "All", pages_user_path(@user) %>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
            By Interest <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% @interests.each do |int| %>
              <li>
                <%= link_to int.name, pages_interest_user_path(@user, int.name) %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-12">
      <div id="my-grid-container">
        <div id="masnory-container">
          <div class="page-container user-profile-container">
            <%= render :partial => "shared/user_info" %>
          </div>
          <%= render partial: "pages/page", collection: @pageviews, :as => :pageview, :locals => {:channel => true} %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to_next_page @pageviews, 'Next Page', :class => "hide" %>
</div>

<%= render :partial => "shared/share_modal" %>