<%#= render :partial => "shared/user_info" %>
<% if @interest %>
<% content_for :title, "#{@interest.name} pages liked by #{@user.username} #{SITENAME}" %>
<% content_for :description, "#{@user.username} likes #{pluralize(@likes.total_count, 'page')} #{@interest.name}. Check out #{@likes[0..2].map{|l| l.page.title}.join(", ")} and more on #{SITENAME}"  %>
<% else %>
<% content_for :title, "Pages liked by #{@user.username} #{SITENAME}" %>
<% content_for :description, "#{@user.username} likes #{pluralize(@likes.total_count, 'page')} on #{SITENAME}. Check out #{@likes[0..2].map{|l| l.page.title}.join(", ")} and more on #{SITENAME}"  %>
<% end %>
<div class="container margin-top-30" >
  <div class="row">
    <%= render :partial => "likes_filter" %>
    <div class="col-xs-12">
      <div id="my-grid-container">
        <div id="masnory-container">
          <div class="page-container user-profile-container">
            <%= render :partial => "shared/user_info" %>
          </div>
          <%= render partial: "users/like", collection: @likes %>
        </div>
      </div>
    </div>
  </div>
  
  <%= link_to_next_page @likes, 'Next Page', :class => "hide"  %>

</div>
<%= render :partial => "shared/share_modal" %>