<% content_for :title, "Lists created by #{@user.username} on #{SITENAME}" %>
<% content_for :description, "#{@user.username} has #{pluralize(@lists.total_count, 'list')} on #{SITENAME}. Check #{@lists[0..2].map{|l| l.title}.join(", ")} and more on #{SITENAME}"  %>
<%#= render :partial => "shared/user_info" %>

<div class="container" >
  <div class="margin-top-30"></div>
  <div class="row">
    

    <div class="col-xs-12 col-sm-4 col-sm-push-8">
      
      <div class="page-container user-profile-container">
        <%= render :partial => "shared/user_info" %>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-sm-pull-4">
    <h1><%= @user.username.titleize %> Lists</h1>
      <div id="my-list-container">
        <ul class="list-unstyled">
          <%= render partial: "list", collection: @lists %>
        </ul>
      </div>
    </div>
  </div>


  <%= link_to_next_page @lists, 'Next Page' %>

</div>

