<div class="container margin-top-30" id="notification-container" >
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Your Notifications</h3>
      <div id="my-list-container">
        <table class="table table-hover">
          <%= render partial: "notification", collection: @notifications %>
        </table>
      </div>
    </div>
  </div>
  
  <%= link_to_next_page @notifications, 'Next Page', :class => "hide" %>

</div>