<% if @interest %>
<% content_for :title, "#{@interest.name} Pages added by #{@user.username} on #{SITENAME}" %>
<% content_for :description, "#{@user.username} added #{@interest.name} #{pluralize(@pages.total_count, 'page')}  on #{SITENAME}. Check #{@pages[0..2].map{|page| page.title}.join(", ")} and more on #{SITENAME}"  %>
<% elsif @channel %>
<% content_for :title, "Pages added by #{@user.username} on to #{@channel.title} - on #{SITENAME}" %>
<% content_for :description, "#{@user.username} added #{pluralize(@pages.total_count, 'page')} on to #{@channel.title}. Check #{@pages[0..2].map{|page| page.title}.join(", ")} and more on #{SITENAME}"  %>
<% else %>
<% content_for :title, "Pagess added by #{@user.username} on #{SITENAME}" %>
<% content_for :description, "#{@user.username} added #{pluralize(@pages.total_count, 'page')} on #{SITENAME}. Check #{@pages[0..2].map{|page| page.title}.join(", ")} and more on #{SITENAME}"  %>
<% end %>
<div class="container margin-top-30" >
  <div class="row">
    <%= render :partial => "pages_filter" %>
    <div class="col-xs-12">
      <div id="my-grid-container">
        <div id="masnory-container">
          <div class="page-container user-profile-container">
            <%= render :partial => "shared/user_info" %>
          </div>
          <%= render partial: "pages/page", collection: @pages, :as => :page, :locals => {:channel => true} %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to_next_page @pages, 'Next Page', :class => "hide" %>
</div>

<%= render :partial => "shared/share_modal" %>