
<%#= render :partial => "shared/user_info" %>

<div class="container" >
  <div class="margin-top-30"></div>
  <div class="row">
    

    <div class="col-xs-12 col-sm-4 col-sm-push-8">
      <div class="page-container user-profile-container">
        <%= render :partial => "shared/user_info" %>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-sm-pull-4">
      <div id="my-list-container">
       <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, pages_tag_user_path(@user, tag.name), :class => css_class %>
        <% end %>
      </div>
    </div>
  </div>
</div>


