<div class="container white-box margin-top-30">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-xs-offset-3">
      <h2>Change your password</h2>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }, :class => "edit_password", :id => "edit_password") do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, :autofocus => true, :class => "form-control", :placeholder => "Password" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %>
        </div>

        <div class="form-group">
          <%= f.submit "Change my password", :class => "btn btn-primary" %> or  <%= link_to "Sign in", new_session_path(resource_name) %>
           <%#= link_to "Sign up", new_registration_path(resource_name), :class => "pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
