<div class="container white-box margin-top-30">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-xs-offset-3">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :role => "form", :id => "forgot_password", :class => "forgot_password") do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
        </div>

        <div class="form-group">
          <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
          <span class="text-muted"> or </span><%= link_to "Sign in", new_session_path(resource_name) %>
          <%#= link_to "Sign up", new_registration_path(resource_name), :class => "pull-right" %>
          <%= link_to "Send me an invitation", new_request_invite_path , :class => "pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
