<script type="text/javascript">
  gon.user.lists = <%= @lists.to_json.html_safe %>
</script>
<div role="dialog" aria-labelledby="Add To List" aria-hidden="true" id="add-to-list" class="my-modal modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-left">Add to List</h3>
        <p class="margin-0 help-block">Start typing to search or create a list.</p>
      </div>
      <div class="modal-header success my-hidden">
        <h3 class="modal-title text-left">Successfuly added page to the list</h3>
      </div>
      <div class="modal-body">
        <div id="choose-from-list">
          <%= form_for Listing.new, :role => "form", :remote => true, :html => {:"data-type" => "json"} do |f| %>
          <!-- <form class="form-inline" role="search">  -->
            <%= f.hidden_field :list_id %>
            <%= f.hidden_field :user_id, :value => current_user.try(:id) %>
            <%= f.hidden_field :page_id, :value => @page.try(:id) %>
            <%= f.hidden_field :interest_id, :value => @page.try(:interest_id) %>
            <div class="form-group">
              <input type="text" name="listitem" id="list-typeahead"   class="form-control" placeholder="Start typing name of a list"  value="">
            </div>
          <% end %>

          <%= form_for List.new, :role => "form", :remote => true, :html => {:class => "my-hidden new_list", :"data-type" => "json"} do |f| %>
          <!-- <form class="form-inline" role="search">  -->
            <%= f.hidden_field :user_id, :value => current_user.try(:id) %>
            
            <div class="form-group">
              <%= f.label :title, "Name" %>
              <%= f.text_field :title, :class => "form-control", :placeholder => "Name" %>
            </div>
            <div class="form-group">
              <%= f.label :about, "About the List" %>
              <%= f.text_area :about, :class => "form-control", :placeholder => "About the List" %>
            </div>
            <% f.object.listings.build({:page_id =>  @page.try(:id), :user_id => current_user.try(:id), :interest_id => @page.try(:interest_id)  }) %>
            <%= f.fields_for(:listings) do |lf| %>
              <%= lf.hidden_field :page_id %>
              <%= lf.hidden_field :user_id %>
              <%= lf.hidden_field :interest_id %>
            <% end %>

            <div class="form-group">
              <%= f.submit "Create", :class => "btn btn-primary", :data => {:disable_with => "Please Wait.."} %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer margin-top-0">
        <%= link_to "Close", "", :"data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->