<div role="dialog" aria-labelledby="Video" aria-hidden="true" id="best_video_modal">
  <p id="close_best_video_modal">
    Click anywhere to go back...
  </p>
  <h2 id="best-title">The Best of Sqooz</h2>
  <div id="best-masnory-container">
    <% @best_pages.each do |bp| %>
      <div class="best-page">
        <%= link_to image_tag(bp.photo(:medium)), bp.slug_path, :alt => bp.title, :title => bp.title %>
        <hr />
        <h2 class="normal-font">
          <%= link_to bp.title, bp.slug_path, :title => bp.title %>
        </h2>
        <hr />
      </div>
    <% end %>
  </div> 
</div><!-- /.modal -->