<div role="dialog" aria-labelledby="Comments" aria-hidden="true" id="page_comments" class="my-modal modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if @comments.present? %>
          <h3 class="modal-title text-left margin-bottom-10">Comments</h3>
          <div id="table-scroll">
            <ul class="media-list">
              <% @comments.each do |com| %>
                <li class="media" id="comment<%= com.id %>">
                  <%= link_to image_tag(com.user.avatar(:thumb), :class => "sthumbnail").html_safe, user_path(com.user), :class => "pull-left", :alt => com.user.username, :title => com.user.username %>
                  <div class="media-body">
                    <p class="media-heading margin-0 small help-block">Commented By <strong><em><%= com.user.username %></em></strong></p>
                    <%= com.content %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <h3 class="margin-0">Be the first to comment on this page.</h3>
        <% end %>
      </div>
      <div class="modal-body">
        <%= form_for Comment.new, :role => "form", :remote => true do |f| %>
        <!-- <form class="form-inline" role="search">  -->
          <%= f.hidden_field :page_id, :value => @page.id %>
          <div class="form-group">
            <%= f.text_area :content, :class => "form-control", :placeholder => "Write you comment" %>
          </div>
          <%= f.submit "Comment",:data =>{ :disable_with => "Please wait..." }, :class => "btn btn-primary"  %>
        <% end %>
      </div>
      <div class="modal-footer margin-top-0">
        <%= link_to "Close", "", :"data-dismiss" => "modal", :title => "Clode" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->