<div  id="go-to-site" class="my-modal modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close normal-font" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-left">Opps! Video can't be played.</h3>
      </div>
      <div class="modal-body">
        <p>
          Sorry, this Video can't be played here. Please click the following link to go to the source and watch the video.
          <%= link_to @page.domain, @page.url, :target => "_blank" , :class => "special-link" %>
        </p>
      </div>
      <div class="modal-footer margin-top-0">
        <%= link_to "Skip", "", :"data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->