<% if current_user %>
<header>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation"  >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid margin-0">

      <ul class="nav navbar-nav pull-left margin-0 horiz-navbar">
        <li class="first">
          <a class="margin-right-0" id="sidebar-toggle", title ="Menu" >
            <span class="glyphicon glyphicon-th-list"></span>
          </a> 
        </li>
        <% if @pending_notification_count && @pending_notification_count > 0 %>
          <li class="hidden-xs">
            <%= link_to("<span class='badge'>#{@pending_notification_count}</span>".html_safe, notifications_user_path(current_user), :title => "Notifications" )  %>
          </li>
        <% end %>
       
        <li class="hidden-xs" id="home-nav">
          <%= link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe ,root_path, :class => "darker-nav", :title => "Home"  %>
        </li>

        <li>
          <%= link_to '<span class="glyphicon glyphicon glyphicon-tower"></span>'.html_safe, feed_trending_path, :class => "darker-nav" , :title => "Trending Pages"  %>
        </li>
       
        <li>
          <%= link_to '<span class="glyphicon glyphicon-list-alt"></span>'.html_safe, top_channels_path,  :class => "darker-nav",  :title => "Top Channels" %>
        </li>

        <li class="dropdown <%= 'active' if cookies[:current_interest_id].present? %>" id="interest-links">
          <%= link_to  "#{cookies[:current_interest_name].present?  ? cookies[:current_interest_name]  : 'All Interests' } <span class='caret'></span>".html_safe ,"javascript:void(0)", :class => "dropdown-toggle darker-nav", :"data-toggle" => "dropdown", :title => "Block Page" %>
          <ul class="dropdown-menu">
            <% @all_interests.each do |int| %>
              <li><%= link_to int.name, "javascript:void(0);" , :data => {:id => int.id}%></li>
            <% end %>
          </ul>
        </li>
          

        
      </ul>
      
      <ul id="sqoozer-head" class="nav navbar-nav navbar-left margin-0">
        <div id="sqooz-prompt" ></div>
        <li class="first">
          <%= form_tag sqoozit_path , id: "sqooz-from" do %>
            <%= hidden_field_tag "int", cookies[:current_interest_id] %>
            <%= button_to "Sqooz".html_safe, sqoozit_path, :class => "btn btn-success", :id => "sqooz-button", :type => "post", :onclick => "return false;" %>
          <% end %>
            
        </li>
      </ul>
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <% if params[:action] == "show" && params[:controller] == "pages" %>
        
        <div class="collapse navbar-collapse" id="top-navigation">

          <ul class="nav navbar-nav navbar-right margin-0">
            <li>
              <%= form_tag search_path, :class => "navbar-form navbar-right", :role => "search", :id =>"search_form", :method => "get" do %>
              
                <div class="form-group left-inner-addon">
                  <i class="glyphicon glyphicon-search hidden-xs"></i> <input type="text" name="q" class="form-control" placeholder="Search">
                  <%= hidden_field_tag "int",  cookies[:current_interest_id] %>
                </div>
              <% end %>
            </li>
            <li class="first">
              <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span>'.html_safe ,root_path, :class => "darker-nav #{'yellow' if @liked ==  false}" , :id => "unlike-page", :title => "Unlike"  %>       
            </li>
          
           <!--  <li class="dropdown" id="report-links">
              <%#= link_to "<span class='glyphicon glyphicon-list-alt'></span>".html_safe ,"javascript:void(0)", :class => "dropdown-toggle darker-nav", :"data-toggle" => "dropdown", :title => "Block Page" %>
               <ul class="dropdown-menu">
                <li><%#= link_to_blockers "Not for me", report_users_path(:pageid => @page.slug, :notme => true), "not_for_me", @page %></li>
                <li><%#= link_to_blockers "Seen Page Already", report_users_path(:pageid => @page.slug, :seenit => true), "seent_it", @page  %></li>
                <li><%#= link_to_blockers "Page Does Not Load", report_users_path( :pageid => @page.slug, :pagenoload => true), "noloading", @page %></li>
                <li><%#= link_to_blockers "Report as Spam", report_users_path(:pageid => @page.slug, :spam => true), "spam_ids", @page %></li>
                <li class="divider"></li>
                <li><%#= link_to_blockers "Block #{@page.domain}", report_users_path(:pageid => @page.slug, :block => true), "domain_ids", @page %></li>
              </ul>
            </li>
           -->
            <li>
              <%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe ,root_path, :class => "darker-nav #{'yellow' if @liked ==  true}" , :id => "like-page", :title => "Like" %>
            </li>
            <!-- <li id="add-icon">
              <%#= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe ,root_path, :class => "darker-nav add-to-list", :data => {:page => @page.slug, :id => @page.id, :interest_id => @page.interest_id}, :title => "Add to list" %>
            </li> -->
            <li id="comment-icon">
              <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe.html_safe ,root_path, :class => "darker-nav comment-on-page", :data => {:page => @page.slug, :id => @page.id}, :title => "Comment" %>
            </li>
            <li id="share-icon">
              <%= link_to '<span class="glyphicon glyphicon-share"></span>'.html_safe.html_safe ,root_path, :class => "darker-nav share-the-page",  :data => {:url => @page.slug_url, :title => @page.title, :description => @page.plain_about}, :title => "Share" %>
            </li>
                       
          </ul>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="top-navigation">
          <%= form_tag search_path, :method => :get, :class => "navbar-form navbar-right", :role => "search", :id => "search_form" do %>
            <div class="form-group left-inner-addon">
              <i class="glyphicon glyphicon-search"></i> <input type="text" name="q" class="form-control" value="<%= params[:q] %>" placeholder="Search">
              <%= hidden_field_tag "int", cookies[:current_interest_id] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= get_navbar_sprinkle %>
  </nav>
  
</header>
<% else  %>
<header>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation"  >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid margin-0">

      <ul class="nav navbar-nav pull-left margin-0 horiz-navbar">
        <li class="first">
          <a class="margin-right-0" id="sidebar-toggle" title = "Menu" >
            <span class="glyphicon glyphicon-th-list"></span>
            
          </a> 
        </li>
       
        <li class="hidden-xs" id="home-nav" >
          <%= link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe ,root_path, :class => "darker-nav", :title => "Home"  %>
        </li>
        <li>
          <%= link_to '<span class="glyphicon glyphicon glyphicon-tower"></span>'.html_safe, feed_trending_path, :class => "darker-nav" , :title => "Trending Pages"  %>
        </li>
       
        <li>
          <%= link_to '<span class="glyphicon glyphicon-list-alt"></span>'.html_safe, top_channels_path,  :class => "darker-nav",  :title => "Top Channels" %>
        </li>

        <li class="dropdown <%= 'active' if cookies[:current_interest_id].present? %>" id="interest-links">
          <%= link_to  "#{cookies[:current_interest_name].present?  ? cookies[:current_interest_name]  : 'All Interests' } <span class='caret'></span>".html_safe ,"javascript:void(0)", :class => "dropdown-toggle darker-nav", :"data-toggle" => "dropdown", :title => "Block Page" %>
          <ul class="dropdown-menu">
            <% @all_interests.each do |int| %>
              <li><%= link_to int.name, "javascript:void(0);" , :data => {:id => int.id}%></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul id="sqoozer-head" class="nav navbar-nav navbar-left margin-0">
        
        <li class="first">
          <%= form_tag sqoozit_path, :id => "sqooz-from" do %>
            <%= hidden_field_tag "int", cookies[:current_interest_id] %>
            <%= button_to "Sqooz".html_safe, sqoozit_path, :id => "sqooz-button", :class => "btn btn-success", :type => "post", :onclick => "return false;" %>
          <% end %>
            
        </li>
      </ul>
      

      <% if params[:action] == "show" && params[:controller] == "pages" %>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="top-navigation">
          <ul class="nav navbar-nav navbar-right margin-0">
            <li>
              <%= form_tag search_path, :class => "navbar-form navbar-right", :role => "search", :id =>"search_form", :method => "get" do %>
              
                <div class="form-group left-inner-addon">
                  <i class="glyphicon glyphicon-search"></i> <input type="text" name="q" class="form-control" placeholder="Search">
                  <%= hidden_field_tag "int",  cookies[:current_interest_id] %>
                </div>
              <% end %>
            </li>
            <li class="first">
              <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span>'.html_safe ,root_path, :class => "login darker-nav #{'yellow' if @liked ==  false}", :title => "Unlike"  %>       
            </li>
          
            <li>
              <%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe ,root_path, :class => "login darker-nav #{'yellow' if @liked ==  true}", :title => "Like" %>
            </li>
            <li id="add-icon">
              <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe ,root_path, :class => "darker-nav login", :data => {:page => @page.slug, :id => @page.id, :interest_id => @page.interest_id}, :title => "Add to list" %>
            </li>
            <li id="comment-icon">
              <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe.html_safe ,root_path, :class => "darker-nav login", :data => {:page => @page.slug, :id => @page.id}, :title => "Comment" %>
            </li>
            <li id="share-icon">
              <%= link_to '<span class="glyphicon glyphicon-share"></span>'.html_safe.html_safe ,root_path, :class => "darker-nav login", :title => "Share", :data => {:url => @page.slug_url, :title => @page.title, :description => @page.plain_about} %>
            </li>
                       
          </ul>
        </div>
      <% else %>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="top-navigation">
          <ul class="nav navbar-nav pull-right margin-0">
            <li>
              <%= form_tag search_path, :class => "navbar-form navbar-right", :role => "search", :id =>"search_form", :method => "get" do %>
              
                <div class="form-group left-inner-addon">
                  <i class="glyphicon glyphicon-search hidden-xs"></i> <input type="text" name="q" class="form-control" placeholder="Search">
                  <%= hidden_field_tag "int",  cookies[:current_interest_id] %>
                </div>
              <% end %>
            </li>
            <li class="first">
              <%= link_to '<span class="glyphicon glyphicon-log-in"></span>'.html_safe ,root_path , :class => "darker-nav login", :title => "Login" %>       
            </li>
          </ul>
        </div>
      <% end %>
    </div>
    <%= get_navbar_sprinkle %>
  </nav>
  
</header>
<% end %>