<div role="dialog" aria-labelledby="Login" aria-hidden="true" id="login_modal" class="my-modal modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close normal-font" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-left">Login</h3>
      </div>
      <div class="modal-body">
        <%= form_for(User.new, :as => :user, :url => session_path(:user), :role => "form", :id => "user_signin", :class => "user_signin") do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, :class => "form-control reaquird", :placeholder => "Email"  %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control reaquird", :placeholder => "password" %>
          </div>

          <div class="form-group">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>

          <div class="form-group clearfix margin-bottom-0">
            <%= f.submit "Sign in", :class => "btn btn-primary" %>
            <%= link_to "<span class='text-muted'>or</span> Send me an invitation".html_safe, new_request_invite_path %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer margin-top-0">
        <%= link_to "Skip", "", :"data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div role="dialog" aria-labelledby="Signup" aria-hidden="true" id="signup_modal" class="my-modal modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close normal-font" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-left">Sign up</h3>
      </div>
      <div class="modal-body">
        <%= form_for(User.new, :as => :user, :role => "form" , :url => registration_path(:user)) do |f| %>
        <%#= devise_error_messages! %>

          <div class="form-group" >
            <%= f.label :username %>
            <%= f.text_field :username, :autofocus => true, :class => "form-control required", :placeholder => "Name" %>
          </div>

          <div class="form-group" >
            <%= f.label :email %>
            <%= f.email_field :email, :class => "form-control required email", :placeholder => "Email" %>
          </div>
          

          <div class="form-group" >
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control required", :placeholder => "Password" %>
          </div>

          <div class="form-group" >
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control required", :placeholder => "Confirm Password" %>
          </div>

          <div class="form-group" >
            <%= f.label :birthday %><br />
            <%= f.date_select :birthday, :start_year=>1900 %>
          </div>

          <div class="form-group">
            <label class="padding-10">
              <%= f.radio_button( "male", "true") %>
              Male
            </label>
            <label class="padding-10">
              <%= f.radio_button( "male", "false") %>
              Female
            </label>
            
          </div>

          <div class="form-group" >
            <%= f.label :avatar, "Profile Image" %>
            <%= f.file_field :avatar, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign up", :class => "btn btn-primary" %>
            <span class="text-muted">or</span> <%= link_to "Sign in", new_session_path(:user) , :class => "login" %><br />
          </div>
      <% end %>
      </div>
      <div class="modal-footer margin-top-0">
        Login or <%= link_to "skip this step", "", :"data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->