<div role="dialog" aria-labelledby="Share this Page" aria-hidden="true" id="share-the-page" class="my-modal modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-left">
          <%= quote = sample_sharing_quote %>
        </h3>
      </div>
      <div class="modal-body">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <% ["facebook", "twitter", "stumbleupon", "pinterest_share", "email", "reddit", "blogger", "tumblr", "wordpress", "scoopit", "digg", "delicious"].each do |name| %>
          <a class="addthis_button_<%= name %>"></a>
        <% end %>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <div class="margin-bottom-30"></div>
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_google_plusone"></a>
          <a class="addthis_button_facebook_like"></a>
        </div>
        <!-- AddThis Button END --> 
      </div>

      <div class="modal-footer margin-top-0">
        <%= link_to "close", "", :"data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->