<% if current_user %>
<div id="sidebar" aria-labelledby="Sidebar" aria-hidden="true" class="affix <%= 'shownow' if cookies[:sidebar_hidden] == 'false' %> " >
  <div id="sidebar-head">
    <h4 class="text-center margin-0">Navigation</h4>
  </div>
  <div class="list-group">
    <a href="javascript:void(0)" data-toggle="collapse" data-target="#current-user-items" class="list-group-item heading">
      <span class="glyphicon glyphicon-user"></span><%= current_user.username %>
      <span class="caret right"></span>
    </a>
    <div class="collapse list-group-items" id="current-user-items">
      <%= link_to_active "Your Favorites", likes_user_path(current_user) , :class => "list-group-item"%>
      <%= link_to_active "Following", following_channels_user_path(current_user) , :class => "list-group-item"%>
      
      <% if current_user.try(:author) %>
        <%= link_to_active "Your Channels", channels_user_path(current_user) , :class => "list-group-item"%>
        <%= link_to_active "Add a Channel", new_channel_path , :class => "list-group-item"%>
        <%= link_to_active "Your Pages", pages_user_path(current_user) , :class => "list-group-item"%>
        <%= link_to_active "Add a Video", new_page_path(:ptype => Page::PTYPES["video"]) , :class => "list-group-item"%>
        <%= link_to_active "Write a Story", new_page_path(:ptype => Page::PTYPES["story"]) , :class => "list-group-item"%>
      <% end %>
      <%#= link_to_active "Your Comments", comments_user_path(current_user) , :class => "list-group-item"%>
      <%#= link_to_active "History", history_user_path(current_user) , :class => "list-group-item"%>
      <%#= link_to_active "Interests", interests_user_path(current_user) , :class => "list-group-item"%>
      <%# Lets do tags later %>
      <%#= link_to_active "Tags", tags_user_path(current_user) , :class => "list-group-item"%>
      <%= link_to_active "Paid Sqoozer", paid_sqoozer_path, :class => "list-group-item" if current_user.paid %>
      <%= link_to_active "Log Out", destroy_session_path(:user) , :class => "list-group-item", :method => "delete" %>
    </div>
  </div>
  <div class="list-group">
    <a href="javascript:void(0)" data-toggle="collapse" data-target="#explore-items" class="list-group-item heading">
      <span class="glyphicon glyphicon-eye-open"></span>Explore
      <span class="caret right"></span>
    </a>
    <div class="collapse list-group-items" id="explore-items">
      
      <%= link_to_active "Interests", interests_path, :class => "list-group-item" %>

     <!--  <a href="<%#= tags_path %>"  class="list-group-item">
      Tags
      </a> -->
      <%= link_to_active "Top Channels", top_channels_path, :class => "list-group-item" %>
      
      <%= link_to_active "Recommended", feed_path , :class => "list-group-item"%>
      <%= link_to_active "Trending", feed_trending_path , :class => "list-group-item"%>
    </div>
  </div>
  <div class="list-group">
    <a href="javascript:void(0)" data-toggle="collapse" data-target="#home-items" class="list-group-item heading">
      <span class="glyphicon glyphicon-tasks"></span>Feed
      <span class="caret  right"></span>
    </a>
    <div class="collapse list-group-items" id="home-items">
      
      <%= link_to_active "Activity", feed_activity_path , :class => "list-group-item"%>
      
    </div>
  </div>
  <div class="list-group">
    <a href="javascript:void(0)" data-toggle="collapse" data-target="#follow-items" class="list-group-item heading">
      <span class="glyphicon glyphicon-random"></span>Follow
      <span class="caret right"></span>
    </a>
    
    <div class="collapse list-group-items" id="follow-items">
      <%= link_to_active "Interests", discover_interests_path , :class => "list-group-item"%>
      <%= link_to_active "Channels", discover_channels_path , :class => "list-group-item"%>
    </div>
  </div>
  <% if current_user.try(:author) %>
    <div class="list-group">
      <% if @pending_notification_count && @pending_notification_count > 0 %>
        <%= link_to_active "<span class='glyphicon glyphicon-bullhorn'></span> Notifications<span class='badge'>#{@pending_notification_count}</span>".html_safe, notifications_user_path(current_user) , :class => "list-group-item" %>
      <% else %>
        <%= link_to_active "<span class='glyphicon glyphicon-bullhorn'></span>Notifications".html_safe, notifications_user_path(current_user) , :class => "list-group-item" %>
      <% end %>
    </div>
  <% end %>
  <div class="list-group">
    <%= mail_to "lets@sqooz.it", "<span class='glyphicon glyphicon-warning-sign'></span>Report an issue".html_safe , :class => "list-group-item", :target => "_blank" %>
  </div>
</div>
<% else %>
<div id="sidebar" class="affix <%= 'shownow' if cookies[:sidebar_hidden] == 'false' %> " >
  <div id="sidebar-head">
    <h4 class="text-center margin-0">Navigation</h4>
  </div>
  <div class="list-group">
    <a href="javascript:void(0)" data-toggle="collapse" data-target="#home-items" class="list-group-item login heading">
      <span class="glyphicon glyphicon-log-in"></span>Login 
      
    </a>
  </div>
  <div class="list-group">
    <a href="javascript:void(0)" data-toggle="collapse" data-target="#explore-items" class="list-group-item heading">
      <span class="glyphicon glyphicon-eye-open"></span>Explore
      <span class="caret right"></span>
    </a>
    <div class="collapse list-group-items" id="explore-items">
      <%= link_to_active "Interests", interests_path, :class => "list-group-item" %>
      <%= link_to_active "Top Channels", top_channels_path, :class => "list-group-item" %>
      <%= link_to_active "Trending", feed_trending_path , :class => "list-group-item"%>
    </div>
  </div>
</div>
<% end %>