<div role="dialog" aria-labelledby="Login" aria-hidden="true" id="suggest_interest_modal" class="my-modal modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close normal-font" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-left">Suggest an Interest</h3>
      </div>
      <div class="modal-body">
        <%= form_tag(suggest_interest_path, :role => "form", :id => "suggest_interest", :remote => true) do |f| %>
          <div class="form-group">
            <%= label_tag "Title" %>
            <%=  text_field_tag "title", "", :class => "form-control reaquird", :placeholder => "Title"  %>
          </div>

          <div class="form-group">
            <%= label_tag "Description" %>
            <%= text_area_tag "description", "", :class => "form-control reaquird", :placeholder => "Description"  %>
          </div>

          <div class="form-group">
            <%= submit_tag "Suggest", :class => "btn btn-primary", :data => {:disable_with => "Wait.."} %>
          </div>
        <% end %>
        <p id="notice" class="my-hidden text-success large-font">
          Thanks for your suggestion. We will get back to you asap. <%= link_to "Close", "", :"data-dismiss" => "modal" %>
        </p>
      </div>
      <div class="modal-footer margin-top-0">
        <%= link_to "Skip", "", :"data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->