<div id="user-info">
    <ul id="detail-block" class="list-unstyled  text-center">
      <li>
        <%= link_to image_tag(@user.avatar(:thumb), :class => "img-circle").html_safe, user_path(@user), :alt => @user.username %>
      </li>
      <li>
        <h2 class="margin-0 margin-bottom-10">
          <%= link_to @user.username , user_path(@user), :class => "special-hover-link" %>
        </h2>
      </li>
      <% if @user.about.present? %>
        <li>
          <h3 class="normal-font margin-bottom-10"><%= @user.about %></h3>
        </li>
      <% end %>
    </ul>

    <ul class="nav nav-pills" id="user-statistics">
      <li>
        <%= link_to "#{@user.likes_count} <p class='margin-0'>Likes</p>".html_safe, likes_user_path(@user) %>
      </li>
      <li>
        <%= link_to "#{@user.pages_count} <p class='margin-0'>Pages</p>".html_safe, pages_user_path(@user) %>
      </li>
    
      <li>
        <%= link_to "#{@user.comments_count} <p class='margin-0'>Comments</p>".html_safe, comments_user_path(@user) %>
      </li>
      <li>
        <%= link_to "#{@user.follows_counter} <p class='margin-0'>Following</p>".html_safe, following_user_path(@user) %>
      </li>
      <li class="last">
        <%= link_to "#{@user.channels_count} <p class='margin-0'>Channels</p>".html_safe, channels_user_path(@user) %>
      </li>

    </ul>
    <% if @recently_viewed.present?  %>
      <ul id="recent-activity" class="list-group">
        <li class="list-group-item first">Recently Viewed</li>
        <% @recently_viewed.each do |pageview| %>
          <% page = pageview.page %>
          <li class="list-group-item">
            <div class="media">
              <%= link_to (image_tag page.cover_photo(:thumb)), page.slug_path, :class => "pull-left", :alt => page.title %>
                <div class="media-body">
                  <h3 class="media-heading"><%= page.title %></h3>
                  <p>
                    <%= about_page_trunc(page) %>
                  </p>
                </div>
                <span><%= link_to "#{page.likes_count} likes", page.slug_path, :class => "special-hover-link" %></span>
              </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    
</div>
      