<% if @page.errors.any? %>
  <div class="col-sm-9 col-sm-offset-3 margin-bottom-10"> 
    <div id="error_explanation" class="alert alert-danger">
      <h3 class="margin-top-0"><%= pluralize(@page.errors.count, "error") %> prohibited this task from being saved:</h3>
      <ul class="list-unstyled">
      <% @page.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= form_for @page, :html => {:multipart => true, :class => "form-horizontal page-form", :role => "form"} do |f| %>
  <div class="form-group">
    <%= f.label :url, "Video Page Address", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :url, :class => "form-control", :placeholder => "URL" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, "Title", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
    </div>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :interest_id, "Select an Interest", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.select :interest_id, @interests.collect{|i| [i.name, i.id ] },  {:include_blank => "Select", :selected => f.object.interest_id},  {:class => "form-control"} %>
    </div>
  </div>
  <%= f.fields_for(:listings) do |lf| %>
    <div class="form-group">
      <%= lf.label :list_id, "Select a List", :class => "col-sm-3 control-label" %>
      <%= lf.hidden_field :user_id, :value => current_user.id %>
      <div class="col-sm-9">
        <%= lf.select :list_id, @lists.collect{|i| [i.title, i.id ] },  {:include_blank => "Select", :selected => lf.object.list_id},  {:class => "form-control"} %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :tag_list, "Add tags <span class='small text-muted'>(optional)</span>".html_safe, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :tag_list, :class => "form-control", :placeholder => "Tag List" %>
      <span class="help-block">Enter tags separated by commas.</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :about, "Write something about the page".html_safe, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_area :about, :class => "form-control", :placeholder => "Write something" %>
    </div>
  </div>
  <%= f.hidden_field :source_title %>
  <%= f.hidden_field :source_description %>

  <% if @page.new_record? && @page.errors.empty? %>
    <%= render :partial => "image_fetcher", :locals => {:f => f } %>
  <% else %>
     <div class="col-sm-9 col-sm-offset-3 margin-bottom-10"> 
      <%= image_tag @page.cover_photo.url(:medium), :class => "img-thumbnail" if @page.cover_photo.present? %>
    </div> 
    <div class="form-group" id="image-upload">
      <%= f.label :photo, "Upload Image".html_safe, :class => "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.file_field :photo, :class => "form-control" %>
      </div>
    </div>
  <% end %>

  
  <div class="form-group">
    <div class="col-sm-12">
      <% if @page.new_record? %>
      <%= f.submit "Add Page", :class => "btn btn-default pull-right", :disabled => @page.errors.empty? %>
      <% else %>
      <%= f.submit "Update Page", :class => "btn btn-default pull-right" %>
      <% end %>
    </div>
  </div>
<% end %>