<% if @page.errors.any? %>
    
    <div id="error_explanation" class="alert alert-danger">
      <h3 class="margin-top-0"><%= pluralize(@page.errors.count, "error") %> prohibited this task from being saved:</h3>
      <ul class="list-unstyled">
      <% @page.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>

<% end %>
<% if params[:ptype] == "1" ||  @page.ptype == Page::PTYPES["video"]  %>
<%= form_for @page, :html => {:multipart => true, :class => "white-box form-horizontal page-form", :role => "form"} do |f| %>
    <div class="form-group">
      <h1 class="text-center">Add a Video</h1>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :url, "Vimeo or YouTube URL" %>
        <%= f.text_field :url, :class => "form-control", :placeholder => "Vimeo or YouTube URL" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :title, "Story Title" %>
        <%= f.text_field :title, :class => "form-control", :placeholder => "Video Title" %>
      </div>
    </div>
    <%= f.hidden_field :ptype, :value => Page::PTYPES["video"] %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :interest_id, "Select an Interest" %>
        <%= f.select :interest_id, @interests.collect{|i| [i.name, i.id ] },  {:include_blank => "Select", :selected => f.object.interest_id},  {:class => "form-control"} %>
        <%= link_to "Don't see your interest? Tell us!", "javascript:void(0)", :class => "blue-link", :onclick => "$('#suggest_interest_modal').modal('show')" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :channel_id, "Select a Channel" %>
        <%= f.select :channel_id, @channels.collect{|i| [i.title, i.id ] },  {:include_blank => "Select a Channel", :selected => f.object.channel_id},  {:class => "form-control"} %>
        <% if @channels.empty? %>
          <p class="help-block">Please create a new channel before you can start adding videos.</p>
        <% end %>
        <%= link_to "Create a channel", new_channel_path, :class => "blue-link" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
      <%= f.label :tag_list, "Tags(separated by commas)" %>
      <%= f.text_field :tag_list, :class => "form-control", :placeholder => "Tags(separated by commas)" %>
      <p class="help-block">Tags help others to find pages easily</p>
      </div>
    </div>
    
    <div class="form-group margin-bottom-0">
      <div class="col-sm-10 col-sm-offset-1">
        <% if @page.new_record? %>
          <%= f.submit "Next", :class => "btn btn-primary pull-right" %>
        <% else %>
          <%= f.submit "Update", :class => "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
    
<% end %>
<% else %>
<%= form_for @page, :html => {:multipart => true, :class => "white-box form-horizontal page-form", :role => "form"} do |f| %>
    <div class="form-group">
      <h1 class="text-center">Write a Story</h1>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :title, "Story Title" %>
        <%= f.text_field :title, :class => "form-control", :placeholder => "Story Title" %>
      </div>
    </div>
    <%= f.hidden_field :ptype, :value => Page::PTYPES["story"] %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="form-group">
      <%#= f.label :interest_id, "Select an Interest", :class => "col-sm-3 control-label" %>
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :interest_id, "Select an Interest" %>
        <%= f.select :interest_id, @interests.collect{|i| [i.name, i.id ] },  {:include_blank => "Select", :selected => f.object.interest_id},  {:class => "form-control"} %>
        <%= link_to "Don't see your interest? Tell us!", "javascript:void(0)", :class => "blue-link", :onclick => "$('#suggest_interest_modal').modal('show')" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :channel_id, "Select a Channel" %>
        <%= f.select :channel_id, @channels.collect{|i| [i.title, i.id ] },  {:include_blank => "Select", :selected => f.object.channel_id},  {:class => "form-control"} %>
        <% if @channels.empty? %>
          <p class="help-block">Please create a new channel before you can start adding videos.</p>
        <% end %>
        <%= link_to "Create a channel", new_channel_path, :class => "blue-link" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :tag_list, "Tags(separated by commas)" %>
        <%= f.text_field :tag_list, :class => "form-control", :placeholder => "Tags(separated by commas)" %>
      </div>
    </div>
    <div class="form-group" id="image-upload">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.label :cover_photo, "Cover Image".html_safe %>
        <%= f.file_field :cover_photo, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group margin-bottom-0">
      <div class="col-sm-10 col-sm-offset-1">
        <% if @page.new_record? %>
          <%= f.submit "Next", :class => "btn btn-primary pull-right" %>
        <% else %>
          <%= f.submit "Update", :class => "btn btn-primary pull-right" %>
        <% end %>
        <% if current_user.paid %>
        <p>
          <%= link_to "Please read Paid Sqoozer Guidlines and Rules", paid_sqoozer_path, :class => "blue-link" %>
        </p>
      <% end %>
      </div>

    </div>
    
       
<% end %>
<% end %>
<%= render :partial => "shared/suggest_interest" %>