<div class="form-group my-hidden" id="carousel-container">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="carousel-page-thumbs" class="carousel slide" data-interval="false" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-page-thumbs" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-page-thumbs" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <p>
    <span class="help-text">Use the image above OR</span> <%= link_to "Upload image", "javascript:void(0)", :id => "upload-image", :class => "special-link" %>
  </p>
  </div>
</div>
<div class="col-sm-9 col-sm-offset-3 text-center">
<%= image_tag "ajax-loader.gif", :class => "my-hidden loading-img" %>
</div>

<div class="form-group my-hidden" id="image-upload">
 
  <div class="col-sm-10 col-sm-offset-1 margin-top-15">
    <%= f.file_field :photo, :class => "form-control" %>
  </div>
</div>