<% page = activity.page if defined? activity %>
<% page = pageview.page if defined? pageview %>
<% page = listing.page if defined? listing %>
<li class="list-page-container">
  <h3><%= link_to page.title , page.slug_path %></h3>
  <p><%= about_page_trunc(page) %></p>
  <p>
    <ul class="list-inline">
      <li>
        <%= link_to image_tag(page.user.avatar(:thumb), :class => "img-circle").html_safe, user_path(page.user), :alt => page.user.username %>
      </li>
      <li>
        <%= link_to page.user.username , user_path(page.user), :class => "special-hover-link" %>
      </li>
      <li>
        on <%= link_to (@channel || page.channel).title , channel_path((@channel || page.channel)), :class => "special-hover-link" %>
      </li>
    </ul>
  </p>
</li>
