<% page = activity.page if defined? activity %>
<% page = pageview.page if defined? pageview %>
<% page = listing.page if defined? listing %>
<div class="page-container">
<!-- TODO: Use defined? for listing too -->
 
  <a href="<%= page.slug_path %>">
    <div class="image-container">
      <div class="overlay-light"></div>
      
      <div class="list-name text-left alpha-static">
        <h3 class="margin-0 normal-font bold"><%= link_to page.interest.name, show_interest_path(page.interest.slug)  %></h3>

        <% if defined? listing %>
          <h3 class="margin-0 margin-top-5 normal-font"><%= link_to truncate(listing.list.title, length: 40) , pages_ptype_user_path(listing.list.user, listing.list.slug) %></h3>
        <% end %>
        <% if defined? channel %>
          <h3 class="margin-0 margin-top-5 normal-font"><%= link_to truncate(page.channel.title, length: 40) , channel_path(page.channel) %></h3>
        <% end %>
        <% if defined? pageview %>
           <p class="margin-0 normal-font"><%= pageview.created_at.strftime("%B %d, %Y")  %></p>
        <% end %>
      </div>
      <% if page.ptype == Page::PTYPES["video"] %>
        <div onclick="document.location = '<%= page.slug_path %>'" class="glyphicon .visible-xs glyphicon-play-circle play-icon"></div>
      <% end %>
      <%= image_tag page.cover_photo(:medium), :class => "page-image", :alt => page.title %>  
    </div>
  </a>

  <div class="page-bar">
    <h3><%= link_to truncate(page.title, :length => 40), page.slug_path, :title => "Title" %></h3>
      
      <div class="clearfix ">
        <ul class="list-inline pull-left margin-bottom-0">
          <!-- <li><%#= link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, "javascript:void(0)", :class => "#{current_user ? 'add-to-list' : 'login'}", :data => {:page => page.slug, :id => page.id}, :title => "Add to list" %>
          </li> -->
          <li>
            <%= link_to "<span class='glyphicon glyphicon-comment'></span>".html_safe,  "javascript:void(0)", :class => "#{current_user ? 'comment-on-page' : 'login'}", :data => {:page => page.slug, :id => page.id, :interest_id => page.interest_id}, :title => "Comment" %>
          </li>
          <li>
            <%= link_to "<span class='glyphicon glyphicon-share'></span>".html_safe, "javascript:void(0)" , :class => "#{current_user ? 'share-the-page' : 'login'}",  :data => {:url => page.slug_url, :title => page.title, :description => page.plain_about}, :title => "Share" %>
          </li>
          
        </ul>
      </div>
      <% if page.likes_count > 0 || page.comments_count > 0 || page.saves_count > 0  %>
        <div class="clearfix text-left">
          <ul class="list-inline margin-top-10 margin-bottom-0">
            <% if page.likes_count > 0 %>
            <li>
              <%= "#{page.likes_count} likes" %>
            </li>
            <% end %>
            <% if page.comments_count > 0 %>
            <li>
              <%= "#{page.likes_count} comments" %>
            </li>
            <% end %>
            <% if page.saves_count > 0 %>
              <li>
                <%= "#{page.saves_count} added to list"  %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if defined? activity %>
        <p class="activity-text"><%= activity_text(activity) %></p>
      <% end %>
    </div>
</div>