  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @page.ptype == Page::PTYPES["video"]  %>
          <h1 class="margin-top-5"><%= @page.title %></h1>
          <% if @page.likes_count > 0 || @page.comments_count > 0 || @page.saves_count > 0  %>
            <div class="clearfix text-center">
              <ul class="list-inline margin-top-10 margin-bottom-0">
                <% if @page.likes_count > 0 %>
                <li>
                  <%= "#{page.likes_count} likes" %>
                </li>
                <% end %>
                <% if @page.comments_count > 0 %>
                <li>
                  <%= "#{page.likes_count} comments" %>
                </li>
                <% end %>
                <% if @page.saves_count > 0 %>
                  <li>
                    <%= "#{page.saves_count} added to list"  %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
        
        <div id="about-story" class="margin-top-10">
          <%= about_page(@page) %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <% ["facebook", "twitter", "stumbleupon", "pinterest_share", "email", "reddit", "blogger", "tumblr", "wordpress", "scoopit", "digg", "delicious"].each do |name| %>
          <a class="addthis_button_<%= name %>"></a>
        <% end %>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <div class="margin-bottom-30"></div>
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_google_plusone"></a>
          <a class="addthis_button_facebook_like"></a>
      </div>
      <!-- AddThis Button END --> 
        <div class="text-center large-font">
          <% if (tags = @page.tags) && tags.present?  %>
            <ul class="list-inline">
              <li>Tags: </li>
              <% tags.each do |tag| %>
                <li>
                  <%= link_to tag.name, show_tag_path(:name => tag.name.gsub(" ","-")) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      
    </div>
    <% unless current_user %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div id="show-page-comment-bar">
            <div id="table-scroll">
              <ul class="media-list">
                <% @comments.each do |com| %>
                  <li class="media" id="comment<%= com.id %>">
                    <%= link_to image_tag(com.user.avatar(:thumb), :class => "sthumbnail").html_safe, user_path(com.user), :class => "pull-left", :alt => com.user.username, :title => com.user.username %>
                    <div class="media-body">
                      <p class="media-heading margin-0 small help-block">Commented By <strong><em><%= com.user.username %></em></strong></p>
                      <%= com.content %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>