<div id="show-page-share-bar">
  <% if current_user %>
  <ul class="list-unstyled">
    <li id="unlike-page" >
      <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span>'.html_safe, "javascript:void(0)", :class => "#{'yellow' if @liked ==  false}" %>
    </li>
    <li class="dropdown" id="report-links">
      <%= link_to "<span class='glyphicon glyphicon-th'></span>".html_safe ,"javascript:void(0)", :class => "dropdown-toggle darker-nav", :"data-toggle" => "dropdown" %>
       <ul class="dropdown-menu">
        <li><%= link_to_blockers "Not for me", report_users_path(:pageid => @page.slug, :notme => true), "not_for_me", @page %></li>
        <li><%= link_to_blockers "Seen Page Already", report_users_path(:pageid => @page.slug, :seenit => true), "seent_it", @page  %></li>
        <li><%= link_to_blockers "Page Does Not Load", report_users_path( :pageid => @page.slug, :pagenoload => true), "noloading", @page %></li>
        <li><%= link_to_blockers "Report as Spam", report_users_path(:pageid => @page.slug, :spam => true), "spam_ids", @page %></li>
        <li class="divider"></li>
        <li><%= link_to_blockers "Block #{@page.domain}", report_users_path(:pageid => @page.slug, :block => true), "domain_ids", @page %></li>
      </ul>
    </li>
    
    <li id="like-page">
      <%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe, "javascript:void(0)", :class => "#{'yellow' if @liked ==  true}" %>
    </li>
    <li id="add-icon">
      <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe ,root_path, :class => "darker-nav add-to-list", :data => {:page => @page.slug, :id => @page.id, :interest_id => @page.interest_id} %>
    </li>
    <li id="comment-icon">
      <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe.html_safe ,root_path, :class => "darker-nav comment-on-page", :data => {:page => @page.slug, :id => @page.id} %>
    </li>
    <li id="share-icon">
      <%= link_to '<span class="glyphicon glyphicon-share"></span>'.html_safe.html_safe ,root_path, :class => "darker-nav share-the-page",  :data => {:url => @page.slug_url, :title => @page.title, :description => @page.plain_about} %>
    </li>
  </ul>
  <% else %>
  <ul class="list-unstyled">
    <li class="login" >
      <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span>'.html_safe, "javascript:void(0)", :class => "#{'yellow' if @liked ==  false}" %>
    </li>
        
    <li class="login">
      <%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe, "javascript:void(0)", :class => "#{'yellow' if @liked ==  true}" %>
    </li>
    <li class="login">
      <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe ,root_path, :class => "darker-nav add-to-list", :data => {:page => @page.slug, :id => @page.id, :interest_id => @page.interest_id} %>
    </li>
    <li class="login">
      <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe.html_safe ,root_path, :class => "darker-nav comment-on-page", :data => {:page => @page.slug, :id => @page.id} %>
    </li>
    <li class="login">
      <%= link_to '<span class="glyphicon glyphicon-share"></span>'.html_safe.html_safe ,root_path, :class => "darker-nav share-the-page",  :data => {:url => @page.slug_url, :title => @page.title, :description => @page.plain_about} %>
    </li>
  </ul>
  <% end %>
</div>