<% if @page.ptype == Page::PTYPES["video"] %>
  <div class="container-fluid margin-0 padding-0" id="my-sqooz-show-page">
    <div class="row margin-0" id="frame-container">
      
      <div id="my-splash-box" >
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 text-center">
            <%= @page.framecode.html_safe %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
<% else %>
  <div class="container-fluid margin-0 padding-0" id="my-sqooz-show-page">
    <div class="row margin-0" id="frame-container">
      <div class="margin-0 padding-0 col-xs-12 col-sm-12 text-center">
        <div id="my-splash-box" style="background: transparent;">
          <div id="back-image"></div>
          <div class="bluring"></div>
          <div class="overlay-light"></div>
          <% if @page.cover_photo.present? %>
            <div id="splash-image" style="background-image: url('<%= @page.cover_photo(:original) %>')" class="cover-image"></div>
          <% else %>
            <div id="splash-image" class="cover-image"></div>
          <% end %>
          <div id="splash-content" style="bottom: 20px; top: auto;">
            <h1 class="margin-0"><%= @page.title %></h1>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @page.ptype == Page::PTYPES["video"] %><h1 class="margin-top-0 text-center"><%= @page.title %></h1> 
      <p class="help-block large-font">
        Adding an overview makes it easy for others to find the video and build some interest before they watch it. And it is fun adding overview with our awesome Power Editor.
      </p>
      <% end %>
      <% if @page.ptype == Page::PTYPES["story"] %>
        <p class="help-block large-font">
          You can now add photos and videos to your story/blog using the all new Power Editor.
        </p>
      <% end %>
      <div class="editable">
        <%= about_page(@page) %>
      </div>
    </div>

    <div class="col-xs-12 margin-top-10">
      <%= link_to "Add Stroy", "", :onclick => "$('input#page_about').val($('.editable').editable('getHTML')); $('input#page_plain_about').val($('.editable').editable('getText')); $('form.edit_page').submit(); return false; ", :class => "btn btn-primary btn-lg"  %>
    </div>
  </div>
</div>


<%= form_for @page, :html => {:multipart => true, :role => "form"} do |f| %> 
  <%= f.hidden_field :about %> 
  <%= f.hidden_field :plain_about %>
  <%= hidden_field_tag "only_about" %>   
<% end %>