<% content_for :title, "Add a page on #{SITENAME}" %>
<% content_for :description, "Add an awesome story or video on #{SITENAME}" %>
<div class="container" id="new-page-container">
  <div class="row">
    <%= render "form_fancy.html.erb" %>
  </div>
</div>