<div class="container margin-top-30" >
  <div class="row">
    <%#= render :partial => "users/pages_filter" %>
    <div class="col-xs-12">
      <% if params[:int].present? %>
       <h1><%= "Total <span class='italic'>#{@count}</span> #{cookies[:current_interest_name]} pages for <em>#{params[:q]}</em>".html_safe %></h1>
      <% else %>
      <h1><%= "Total <span class='italic'>#{@count}</span> pages for <em>#{params[:q]}</em>".html_safe %></h1>
      <% end %>
      <div id="my-grid-container">
        <div id="masnory-container">
          <%= render partial: "pages/page", collection: @pages, :as => :page, :locals => {:channel => true} %>
        </div>
      </div>
    </div>
  </div>

  <%#= link_to_next_page @pages, 'Next Page', :class => "hide" %>
</div>

<%= render :partial => "shared/share_modal" %>