<div class="container margin-top-30">
  <div class="row margin-0" id="frame-container">
    <div class="col-xs-12">
      <h1>One last step. Share your page on other social networks.</h1>
        <%= quote = sample_sharing_quote %>      
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <% ["facebook", "twitter", "stumbleupon", "pinterest_share", "email", "reddit", "blogger", "tumblr", "wordpress", "scoopit", "digg", "delicious"].each do |name| %>
          
          <a class="addthis_button_<%= name %>"></a>
        <% end %>
      </div>
      <div class="margin-bottom-30"></div>
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_google_plusone"></a>
        <a class="addthis_button_facebook_like"></a>
      </div>
    </div>
    <div class="col-xs-12 margin-top-30 text-center">
      <p><%= link_to "Add another page", new_page_path, :class => "large-font" %> or <%= link_to "Sqooz", sqoozit_ad_path, :class => "large-font" %></p>
    </div>
  </div>

</div>
