<%= render "shared/share_modal" %>
<% content_for :title, "#{@page.title} read/watch on #{SITENAME}" %>
<% content_for :description, "Watch top videos or read stories from #{@page.user.username} on #{SITENAME}. Enjoy! {@page.title} " %>
<% if @page.ptype == Page::PTYPES["video"] && @page.framecode.present? %>
  <div class="container-fluid margin-0 padding-0" id="my-sqooz-show-page">
    <div class="row margin-0" id="frame-container">
      <div id="show-page-share" class="onframe">
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <% ["facebook", "twitter", "pinterest_share", "email", "reddit", "blogger", "tumblr", "wordpress", "digg"].each do |name| %>
            <a class="addthis_button_<%= name %>"></a>
          <% end %>
        </div>
      </div>
      <div id="my-splash-box" >
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 text-center">
            <%= @page.framecode.html_safe %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- <div class="container-fluid margin-0 padding-0" id="my-sqooz-show-page">
    <div class="row margin-0" id="frame-container">
      
      <div class="margin-0 padding-0 col-xs-12 col-sm-12 text-center">
        <div id="my-splash-box">
          
          <div class="overlay-light"></div> 
          <%#= @framecode.html_safe %>
        </div>
      </div>
    </div>
    
  </div>
 -->
<%= render :partial => "page_info" %>
<% elsif @page.ptype == Page::PTYPES["story"] %>
  <div class="container-fluid margin-0 padding-0" id="my-sqooz-show-page">
    <div class="row margin-0" id="frame-container">
      <div class="margin-0 padding-0 col-xs-12 col-sm-12 text-center">
        <div id="my-splash-box">
          
          <div class="bluring"></div>
          <div class="overlay-light"></div>
          <% if @page.cover_photo.present? %>
            <div id="splash-image" style="background-image: url('<%= request.protocol + request.host_with_port + @page.cover_photo(:original) %>')" class="cover-image"></div>
          <% else %>
            <div id="splash-image" class="cover-image"></div>
          <% end %>
          <div id="splash-content" style="bottom: 20px; top: auto;">
            <h1 class="margin-0"><%= @page.title %></h1>
            <% if @page.likes_count > 0 || @page.comments_count > 0 || @page.saves_count > 0  %>
              <div class="clearfix text-center">
                <ul class="list-inline margin-top-10 margin-bottom-0">
                  <% if @page.likes_count > 0 %>
                  <li>
                    <%= "#{@page.likes_count} likes" %>
                  </li>
                  <% end %>
                  <% if @page.comments_count > 0 %>
                  <li>
                    <%= "#{@page.likes_count} comments" %>
                  </li>
                  <% end %>
                  <% if @page.saves_count > 0 %>
                    <li>
                      <%= "#{@page.saves_count} added to list"  %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<%= render :partial => "page_info" %>
<% else %>
  <div role="dialog" aria-labelledby="Info" aria-hidden="true" id="page_info_modal" class="my-modal modal slide">
    <h1 class="margin-top-5"><%= @page.title %></h1>
 
    <p class="lead large-font"><%= about_page_trunc(@page) %></p>
    <% if (tags = @page.tags) && tags.present?  %>
      <ul class="list-inline">
        <li>Tags: </li>
        <% tags.each do |tag| %>
          <li>
            <%= link_to tag.name, show_tag_path(:name => tag.name.gsub(" ","-")) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="no-framecode"  id="my-sqooz-show-page">
  <%#= render :partial => "show_page_bar_no_framecode" %>
    <!-- <iframe id="sqoozit-frame" border="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" webkitAllowFullScreen mozallowfullscreen  allowFullScreen data-domain="<%= @page.domain %>" src="<%= @page.url %>"> -->

  </div>
<% end %>

