<div class="container" >
<div class="margin-top-30"></div>
  <div class="row">
    
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>What do you want to explore? </h1>
     
      <div class="row">
        <% @interests.in_groups_of(4).each do |ginterests| %>
          <div class="col-xs-12 col-sm-4 co-md-3">
             <ul class="nav nav-pills" id="list-interest">
              <% ginterests.compact.each do  |interest| %>
                <li><%= link_to interest.name, show_interest_path(interest), :title => interest.name  %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="margin-top-30"></div>
</div>