<% if @interest  %>
<%= content_for :title, "#{@interest.name} pages on #{SITENAME}" %>
<%= content_for :description, "Check out #{@pages.total_count} #{@interest.name}  pages on #{SITENAME}."  %>
<% elsif @tag %>
<%= content_for :title, "Pages tagged by #{@tag}" %>
<%= content_for :description, "Check out #{@pages.total_count} pages tagged by #{@tag} on #{SITENAME}."  %>
<% end %>
<div class="container " >
  <div class="margin-top-30"></div>
  <div class="row">
    <div class="col-xs-12">
    <% if @tag %>
    <h1>Pages tagged by <%= @tag %></h1>
    <% else %>
    <h1><%= @interest.name %></h1>
    <% end %>
      <div id="my-grid-container">
        <div id="masnory-container">
          <%= render partial: "pages/page", collection: @pages, :as => :page, :locals => {:channel => true} %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to_next_page @pages, 'Next Page', :class => "hide" %>
</div>

<%= render :partial => "shared/share_modal" %>