<%= content_for :title, "Top tags from Sqoozers on #{SITENAME}" %>
<%= content_for :description, "Check out #{@tags.total_count} tags and thoudands of awesome videos from Sqoozers."  %>
<div class="container" >
<div class="margin-top-30"></div>
  <div class="row">
    
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Top Tags from Sqoozers</h1>
     
      <ul id="my-tag-index-container" class="nav nav-pills">
        <% @tags.each do |tag| %>
          <li><%= link_to (tag.name + " " + "(#{tag.count})"), show_tag_path(:name => tag.name), :title => tag.name  %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="margin-top-30"></div>
</div>
<%= link_to_next_page @tags, 'Next Page', :class => "hide" %>