<% content_for :head do %>
<meta name="alexaVerifyID" content="i-QHJsFoWWLJLskS-DNJ0VMcUM8"/>
<% end %>
<% content_for :title, "The best collection of stries and videos on the internet" %>
<% content_for :description, "#{SITENAME} is the best collection of stories and videos on the internet created by it's users. You can add, share, watch, read best stories/videos and do lot more."  %>

<div class="container-fluid margin-0 padding-0" id="my-splash-box-container" >
  <div id="place-holder"></div>
  <div class="full-height" id="my-splash-box">
    <div id="back-image"></div>
    <div class="bluring"></div>
    <div class="overlay-light"></div>
    <div id="splash-image" class="cover-image"></div>
    <div id="splash-content">
      <div class="row margin-0">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4  alpha-static">
          <h2 class="hero-title text-center">Sqooz</h2>
          <h3 class="lead text-center">
          We are soon coming up with all the awesomeness on the internet at one place for Indian audience.
          </h3>
          
          <p class= "text-center"><%= link_to "Be the first one to know", new_request_invite_path, :class => "underline" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="my-splash-box">
    <div class="align-middle layout-single-column layout-foreground layout-fill-height">
      
      <div class="align-block">

        <h1 class="hero-title">Medium</h1>

        <p class="hero-description hero-description-tagline">Everyone’s stories and ideas</p>

        <div class="hero-actions btn-set">

          <a class="btn btn-light btn-small" href="https://medium.com/about/9e53ca408c48" title="Learn more about Medium">Learn more</a>
        </div>
      </div>
    </div>
  </div> -->