<div class="container" >
<div class="margin-top-30"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Preferred Guidlines for writers </h1>
      <ul class="large-font">
        <li>
          Do not write a very long or a very short story/blog.
        </li>
        <li>
          Make your stories/blogs rich by adding photos and videos
        </li>
        <li>
          Share it on as many social networks as possible to make it viewed/read by as many users. After all every story/blog is worth sharing.
        </li>
        <li>
          Always add an overview/description if you are Adding a Video. 
        </li>
      </ul>
    </div>
    <div class="margin-top-30 col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Things paid sqoozers should know</h1>
      <ul class="large-font">
        <li>
          On a sigle day you only get paid for maximum 2 stories/blogs. Although you can write any number of stories.
        </li>
        <li>
          You must write unique stories/blogs. Every story is reviewed before the writer is paid. You will not be paid for the content copied from any other source. 
        </li>
        <li>
          Paid sqoozers should share the story/blog on atleast 5 social networks on the last page from the story creation flow and notify us on <%= mail_to "lets@sqooz.it", "lets@sqooz.it", :class => "blue-link" %>. The notification email should have:
          <ul style="padding: 20px">
            <li>
              "Story Shared and Created" as subject
            </li>
            <li>
              Your registered email id
            </li>
            <li>
              Tilte of your story
            </li>
            <li>
              Links to the shared post on different social networks
            </li>
          </ul>
        </li>
        <li>
          Always send the story creation notification from your registered email.
        </li>
        <li>
          If the reviewer for any reason feels that your story is not worth paying for, reviewer can reject your story to be paid without any prior notice. Though a story will not be taken down from the site. This is something that rarely happens.
        </li>
        <li>
          Your story should enough words to justify.
        </li>
        <li>
          You must have the authorization to share the content.
        </li>
        <li>
          You do not get paid for adding a video.
        </li>
        <li>
          You should write stories worth Rs.3000 before you get paid for those stories. 
        </li>
        <li>
          Your account can be converted to a regular account at any point. Frequent rejection of stories by reviewers, can lead to such situations.
        </li>
      </ul>
      <p>
      For more information or support please write to us at <%= mail_to "lets@sqooz.it", "lets@sqooz.it", :class => "blue-link" %>
    </p>
    <p class="help-block">
      This page was last updated at <b>7:41 pm, Sunday, 18 May 2014 (IST)</b>
    </p>
    </div>

  </div>

  
</div>