<div class="container" >
  <div class="margin-top-30"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>Send emails to</h1>
        <%= form_tag send_sample_email_path, :class => "form-horizontal" do %>
          
          <div>
            <%= label_tag "Name", "Name",:class => "margin-top-10" %>
            <%= text_field_tag "send_to[][name]", "", :class => "form-control" %>
            <%= label_tag "Email", "Email", :class => "margin-top-10" %>
            <%= text_field_tag "send_to[][email]", "", :class => "form-control" %>
          </div>
          <%= link_to "+Add more", "javascript:void(0)", :onclick => "$(this).before($(this).prev().clone()); $(this).prev().find('input').val('')", :class => "margin-top-10", :style => "display: block" %>
          <br />
          <%= submit_tag "Send" , :class => "btn btn-primary" %>
        <% end %>
      </div>

    </div>

    
  </div>
</div>