<% content_for :head do %>
<meta name="alexaVerifyID" content="i-QHJsFoWWLJLskS-DNJ0VMcUM8"/>
<% end %>
<% content_for :title, "The best collection of stries and videos on the internet" %>
<% content_for :description, "#{SITENAME} is the best collection of stories and videos on the internet created by it's users. You can add, share, watch, read best stories/videos and do lot more."  %>

<div class="container-fluid margin-0 padding-0" id="my-splash-box-container" >
  <div id="place-holder"></div>
  <div class="full-height" id="my-splash-box">
    <div id="back-image"></div>
    <div class="bluring"></div>
    <div class="overlay-light"></div>
    <div id="splash-image" class="cover-image home"></div>
    <div id="splash-content">
      <div class="row margin-0">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4  alpha-static">
          <h2 class="hero-title text-center">Sqooz</h2>
          <h1 class="lead text-center normal-font">Collection of best blogs and videos on internet</h1>
           <%= form_for(User.new, :as => :user, :url => session_path(:user), :role => "form", :id => "user_signin", :class => "user_signin") do |f| %>
            <div class="form-group">
              
              <%= f.email_field :email, :autofocus => true, :class => "form-control reaquird", :placeholder => "Email"  %>
            </div>

            <div class="form-group">
             
              <%= f.password_field :password, :class => "form-control reaquird", :placeholder => "password" %>
            </div>

            

            <div class="form-group clearfix margin-bottom-0">
              <%= f.submit "Sign in", :class => "btn btn-primary" %>
              <%= link_to "&nbsp; <span class='text-muted'>or</span> &nbsp; Send me an invitation".html_safe, new_request_invite_path, :class => "signup" %>
            </div>
          <% end %>
  
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="my-splash-box">
    <div class="align-middle layout-single-column layout-foreground layout-fill-height">
      
      <div class="align-block">

        <h1 class="hero-title">Medium</h1>

        <p class="hero-description hero-description-tagline">Everyone’s stories and ideas</p>

        <div class="hero-actions btn-set">

          <a class="btn btn-light btn-small" href="https://medium.com/about/9e53ca408c48" title="Learn more about Medium">Learn more</a>
        </div>
      </div>
    </div>
  </div> -->