<% content_for :title, "LOGIN on #{SITENAME}" %>
<% content_for :description, "LOGIN now to get access to thousands of awesome stories and videos on #{SITENAME}" %>
<div class="container white-box margin-top-30">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-xs-offset-3">
      <h2>LOGIN</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :role => "form", :class => "user_signin", :id=> "user_signin") do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email"  %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Sign in", :title => "Sign In", :class => "btn btn-primary" %> <span class="text-muted"> or </span> <%= link_to "Send me an invitation", new_request_invite_path %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "pull-right" , :title => "Forgot Password" %>
        </div>
      <% end %>
    </div>
  </div>
</div>