<div class="container white-box margin-top-30">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-xs-offset-3">
      <h2><%= t 'devise.invitations.edit.header' %></h2>

      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

          <div class="form-group" >
            <%= f.label :username, "Name" %>
            <%= f.text_field :username, :autofocus => true, :class => "form-control required", :placeholder => "Name" %>
          </div>

          <div class="form-group" >
            <%= f.label :email %>
            <%= f.email_field :email, :class => "form-control required email", :placeholder => "Email" %>
          </div>
          

          <div class="form-group" >
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control required", :placeholder => "Password" %>
          </div>

          <div class="form-group" >
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control required", :placeholder => "Confirm Password" %>
          </div>
          <div class="form-group" >
            <%= f.label :birthday %><br />
            <%= f.date_select :birthday, :start_year=>1900 %>
          </div>

          <div class="form-group">
            <label class="padding-10">
              <%= f.radio_button( "male", "true") %>
              Male
            </label>
            <label class="padding-10">
              <%= f.radio_button( "male", "false") %>
              Female
            </label>
            
          </div>

          <div class="form-group" >
            <%= f.label :avatar, "Profile Image" %>
            <%= f.file_field :avatar, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit t("devise.invitations.edit.submit_button"), :class => "btn btn-primary" %>
          </div>
      <% end %>
    </div>
     
          
  </div>
</div>

