<div class="container white-box margin-top-30">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-xs-offset-3">
      <h2><%= t "devise.invitations.new.header" %></h2>

     <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
        <%= devise_error_messages! %>

          <div class="form-group" >
            <% resource.class.invite_key_fields.each do |field| -%>
              <%= f.label field %>
              <%= f.text_field field, :class => "form-control", :placeholder => "Email" %>
            <% end -%>
          </div>

          <div class="form-group">
             <p><%= f.submit t("devise.invitations.new.submit_button"), :class => "btn btn-primary" %></p>
          </div>
      <% end %>
    </div>
     
          
  </div>
</div>
