.navbar-static-top{
  li{
    display: none;
  }
  li#home-nav{
    display: block;
  }
  .navbar-sprinkle, #sqoozer-head{
    li{
      display: block;
    }
  }
}

.container{
  margin-top: 30px;
}

.editable{
  width: 100%;
  height: 100%;
  font-size: $font-size-large;

}