/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_self
 * require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
$font-family-base: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-height: 44px;
$headings-font-weight: 700;
$navbar-margin-bottom: 0px;
// $border-radius-base: 0;
// $navbar-inverse-color: #cccccc;
$navbar-border-radius: 0px;
$navbar-padding-vertical: 10px;

// $navbar-inverse-link-color: #cccccc;
// $dropdown-bg: #f1f1ee;
// $dropdown-link-hover-color: white;
// $dropdown-link-hover-bg: #2f2f2f;
// $dropdown-link-color: #444444;
$navbar-inverse-link-hover-bg: #090909;
$text-color: #373737;
$link-color: #666666;
$link-hover-color: #333333;
// $special-theme-color: #25ad9f;
// $special-theme-color: #48CFAD;
//$special-theme-color: #00b294;

// .turquoise { background-color:  #1abc9c}
// .emerland { background-color:  #2ecc71}
// .peter-river { background-color:  #3498db}
// .amethyst { background-color:  #9b59b6}
// .wet-asphalt { background-color:  #34495e}
// .green-sea { background-color:  #16a085}
// .nephritis { background-color:  #27ae60}
// .belize-hole { background-color:  #2980b9}
// .wisteria { background-color:  #8e44ad}
// .midnight-blue { background-color:  #2c3e50}
// .sun-flower { background-color:  #f1c40f}
// .carrot { background-color:  #e67e22}
// .alizarin { background-color:  #e74c3c}
// .clouds { background-color:  #ecf0f1}
// .concrete { background-color:  #95a5a6}
// .orange { background-color:  #f39c12}
// .pumpkin { background-color:  #d35400}
// .pomegranate { background-color:  #c0392b}
// .silver { background-color:  #bdc3c7}
// .asbestos { background-color:  #7f8c8d}
$special-theme-color: #27ae60; // #27ae60, #f05521 #3686be;//
$orange: #EB4924;
$nprogress-color: $orange;
$btn-primary-border: darken($special-theme-color, 5%);
$btn-primary-bg: $special-theme-color;
$btn-success-bg-border: darken($orange, 5%);
$btn-success-bg:  $orange;
// $btn-default-bg: #e7e7e7;
// $btn-default-border: #efefef;
$nprogress-height: 3px;
// $list-group-bg: transparent;
// $list-group-active-bg
$list-group-border-radius: 0px;
// $list-group-border: transparent;
// $list-group-hover-bg: transparent;
// $list-group-active-bg: #282828;
// $list-group-hover-link-color: #ffffff;
// $list-group-active-text-color: #ffffff;
$list-group-text-color: #37bc9b; 
// $list-group-active-color: #ffffff;
$nav-pills-active-link-hover-bg: $special-theme-color;
$border-color: #E2E1E1;
$nav-pills-border-radius: 0;
// $navbar-inverse-bg: #222222;
$navbar-inverse-bg: #171717;
$navbar-inverse-border: #e0e0e0;
// $navbar-inverse-toggle-hover-bg: #f7f7f7;
// $navbar-inverse-link-active-bg: #f7f7f7; 
$navbar-inverse-link-active-color: white;
// $navbar-inverse-link-hover-bg: #f7f7f7;
$navbar-inverse-link-hover-color: white;
$sidebar-bg-color: #303030;
$sidebar-list-active-color: #222222;
$sidebar-list-bg-color: #282828;
$sidebar-bg-color-active: $sidebar-list-bg-color;
$sidebar-list-border: 1px solid #424242;
$sidebar-head-color: #222222;
$badge-bg: $special-theme-color;
$divider-color: #e5e5e5;
$page-image-width: 280px;
$special-link-color: #4683E9;// #123554;
@mixin speacial_hover_link {

  color: $text-muted !important;
  &:hover{
    color: $special-link-color !important;
  } 

}
// .btn-default{
//   &:hover{
//     background-color: #fafafa !important;
//   }
// }
.gray-back{
  background-color: #E9E9E9;
}
.mediumInsert-images{
  img{
    width: 100%;
  }
}
.mediumInsert-images.small{
  float: left;
  width: 33%;
  margin: 10px;
img{
 width: 100%;
}
}
@import "nprogress";
@import "nprogress-bootstrap";
@import "bootstrap-custom";
@import "common";
@import "pages";
@import "channels"
