// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#masnory-container-channel{
  .galcolumn{
    max-width: 390px;
  }
  margin: 0 auto;
}
.channel-container{
  .media{
    padding: 10px;
    img{
      max-width: 44px;
    }
    font-size: $font-size-small;
    h3, a{
      margin: 0;
      font-size: $font-size-base;
    }
  }
  .media-body{
    padding-left: 10px;
  }
  border: 1px solid $border-color;
  position: relative;
  

  .splash-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 8;
  }
  .back-image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -8;
    pointer-events: none;
    background: black;
  }
  .splash-content{
    color: white;
    a{
      color: white;
    }
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .alpha-static{
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
