// ...........................................
// Input
textarea,  input[type="text"], input[type="email"], input[type="password"]{
  font-size: $font-size-base;
  font-weight: normal;
  height: auto;
}
label{
  font-weight: normal;
}


//..........................................
//Input

/**
 * modal
 * --------------------------------------------------
 */
.modal-content {
  border-radius: 0;
}

/**
 * modal
 * --------------------------------------------------
 */

a {
  &:hover { 
    text-decoration: none; 
  }
}
.underline{
  text-decoration: underline;
}
.special-hover-link{
  @include speacial_hover_link;
}
.blue-link{
  color: #006b8c !important;
}
.normal-font{
  font-size: $font-size-base !important;
  font-weight: normal !important;
}
.large-font{
  font-size: $font-size-large;
  font-weight: normal;
}
.alert{
  font-size: 20px;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

// center the logo
.navbar-inverse{
  .dropdown{
    font-size: $font-size-base;
  }
  #interest-links{
    .dropdown-menu{
      max-height: 350px;
      overflow-y: scroll;
    }
  }

  .navbar-form{
    margin-top: 5px;
    margin-bottom: 4px;
    color: white;
    input{
    max-width: 180px;
    margin-left: -21px;
    padding: 3px 3px 3px 20px;
    background: transparent;
    @include border-top-radius(0px);
    @include border-bottom-radius(0px);
    font-size: 16px;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    }
    .glyphicon{
      font-size: $font-size-small;
    }
    .form-control:focus{
      @include box-shadow(none);
    }
  }
  

  #sqooz-prompt{
    position: absolute;
    width: 400px;
    left: -167px;
    @include opacity(0.9);
    position: absolute;
    max-height: $navbar-height - 4;
    z-index: 10;
    background-color: #d33713;
    color: white;
    display: none;
    
    p{
      padding: 5px 10px;
    }
  }

  .navbar-toggle{
    //   background-color: $navbar-inverse-link-active-bg;
    //   .icon-bar{
    //     background-color: $special-theme-color;
    //   }
    // &:hover{
    //   background-color: $special-theme-color;
    //   .icon-bar{
    //     background-color: white;
    //   }
    // }
  }
  .horiz-navbar{
    li{
      float: left;
    }
    .dropdown{
      li{
        float: none;
      }
    }
  }
  

}
.glyphicon-sqooz{
  background: image-url("sqoozit.png") no-repeat;
}
#sqoozer-head{
  form{
    padding-top: 3px;
  }
}
.navbar-sprinkle{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 4px;
  line-height: 0;
  position: absolute;
  bottom: -1px;
  li{
    border: 0;
    width: 7.14285%;
    height: 4px;
    padding: 0;
    margin: 0px;
    float: left;
  }
}
.navbar{
  #sqoozer-head{
    padding: 0;
    position: absolute;
    top: 0;
    left: 50%;
    
  }
  font-size: $font-size-large;
}


.btn-firoji{
font-weight: bold;
background: rgb(69,234,213);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(69,234,213,1) 0%, rgba(56,221,201,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,234,213,1)), color-stop(100%,rgba(56,221,201,1)));
background: -webkit-linear-gradient(top, rgba(69,234,213,1) 0%,rgba(56,221,201,1) 100%);
background: -o-linear-gradient(top, rgba(69,234,213,1) 0%,rgba(56,221,201,1) 100%);
background: -ms-linear-gradient(top, rgba(69,234,213,1) 0%,rgba(56,221,201,1) 100%);
background: linear-gradient(to bottom, rgba(69,234,213,1) 0%,rgba(56,221,201,1) 100%);
color: #007365;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.42);
&:hover{
color: #007365;
@include opacity(0.8);
}
&:active{
color: #007365;
@include opacity(0.8);
}
&:focus{
color: #007365;
@include opacity(0.8);
background: rgb(69,234,213);
}
}


body{
  -webkit-font-smoothing: antialiased;
  background-color: white;
}
// Typeahead custom css
.btn-success{
  font-weight: bold;
}
.twitter-typeahead{
  width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  max-height: 160px;
  overflow-y: scroll;
  *border-right-width: 0px;
  *border-bottom-width: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 15px;
  text-align: left;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-cursor{
  background-image: -webkit-linear-gradient(top, #2f2f2f 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #2f2f2f 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2F2F2F', endColorstr='#FF222222', GradientType=0);
  background-color: #222222;
  color: white;
}

.tt-suggestion{
  p{
    font-size: 14px;
  }
}
#choose-from-list{
  padding: 10px;
  min-height: 200px;
  background-color: #F1F1EE;
  border: 1px solid #d4d4d4;
  input:text{
    width: 100%;
  }
}

// Typeahead custom css ends

// divider on page
.divider{
height: 1px;
margin: 9px 0;
overflow: hidden;
background-color: $divider-color;
}
// Divider on page

// Typography starts here
.white-box{
  background-color: white;
  border: 1px solid $border-color;
  @include border-top-radius(6px);
  @include border-bottom-radius(6px);
}
.light-gray{
  background-color: $gray-lighter;
}
.bold{
  font-weight: bold;
}
.line-height-0{
  line-height: 0;
}
.my-border{
  border: 1px solid $border-color;
}
.float_none{
  float: none !important;
}
.text-success{
  padding: 10px;
}
.padding-0{
  padding: 0;
}
.padding-10{
  padding: 10px;
}
.padding-20{
  padding: 20px;
}
.padding-5{
  padding: 5px;
}
.margin-0{
  margin: 0;
}
.margin-0-auto{
  margin: 0 auto;
}
.dis-inline{
  display: inline;
}
.margin-bottom-5{
  margin-bottom: 5px;
}
.margin-right-0{
  margin-right: 0px !important;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}
.margin-bottom-0{
  margin-bottom: 0px;
}
.margin-top-5{
  margin-top: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-top-0{
  margin-top: 0px;
}
.sthumbnail{
  width: 40px;
}
.my-hidden{
  display: none;
}
.btn.follow, .btn.unfollow{
  font-weight: bold;
}
.btn.unfollow .icon{
  color: $special-link-color;
}
.special-link{
  color: $special-link-color;
  &:hover{
    @include opacity(0.8);
    color: $special-link-color;
  }
}
// Typography ends here

//Comments Modal CSS

#page_comments{
  td{
    background-color: #f9f9f9;
  }
  #table-scroll{
    border-bottom: 1px solid #dddddd;
    max-height: 300px;
    overflow-y: scroll;
  }
}

// Comments Modal CSS ends


//Sidebar
.caret.right{
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
}
#sidebar.affix-top {
  position: static;
  margin-top:30px;
  width:228px;
}
#sidebar{
  display: none;
  overflow-x: hidden;
  z-index: 100;
  color: $list-group-text-color;
  background-color: $sidebar-bg-color;
  .list-group-item{
    background: transparent;
    margin-bottom: 0px;
    border-color: transparent;
    &.active{
      border: 0px;
      background-color: $sidebar-bg-color-active;
    }
    a{
      &:hover{
        color: #ffffff;
      }
      &.active{
        color: #ffffff;
      }
    }
  }
  .glyphicon{
    margin-right: 10px;
    color: white !important;
  }
  .caret{
    float: right;
    margin: 0px;
    margin-top: 9px;
  }
  .list-group{
    color: white;
    margin-bottom: 0px;
    a{
      &:hover{
        color: white;
      }
    }
  }
  .list-group-items{
    border-top: $sidebar-list-border;
    border-bottom: $sidebar-list-border;
    background-color: $sidebar-list-bg-color;
    .list-group-item{
      &:hover{
        background-color: $sidebar-list-active-color;
      }
      &.active{
        background-color:$sidebar-list-active-color;
      }
    }
  }
}
.wrap.with-sidebar{
  padding-left: 250px;
}

#sidebar.affix{
  position: fixed;
  width:250px;
  height: 100%;
  #sidebar-head{
    background-color: $sidebar-head-color;
    height: $navbar-height ;
    color: white;
    padding: 12px;
  }
}


//Sidebar
.centered-pills{
  text-align: center;
  .nav-pills{
    display: inline-block;
  }
}
.nav-pills > li + li{
  margin-left: 0px;    
}
.nav-pills{
  li{
    background-color: white;
    border: 1px solid $border-color;
    border-: 1px solid $border-color;
    margin-left: 0px;
  }

}
// My grid container

// Tag cloud
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
// Tag cloud

// Fullpage Splash Image
.cover-image{
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bluring{
  background: transparent image-url("pixel.png") top left repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.alpha-static{
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.4);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  &.alpha40{
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
  &.alpha40{
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
}
.alpha {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.4);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alpha{
  &.alpha90{
    background-color: rgba(0, 0, 0, 0.9);
  }
  &.alpha80{
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.overlay-light{
background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 75%,#000000);
background-image: -o-linear-gradient(top, rgba(0,0,0,0) 75%,#000000);
background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 75%,#000000);
background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%,#000000);
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
}
// .overlay-left{
//   background-image: -moz-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
//   background-image: -o-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
//   background-image: -webkit-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
//   background-image: linear-gradient(to left, #000000 50%,rgba(0,0,0,0));
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
// }

// .overlay-right{
//   background-image: -moz-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
//   background-image: -o-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
//   background-image: -webkit-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
//   background-image: linear-gradient(to right, #000000 50%,rgba(0,0,0,0));
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
// }
.full-height {
  height: 100%;
  position: static;
}
#my-splash-box{
  position: relative;
  color: white;
  height: 55%;
  background: black;
  // background: rgba(0,0,0,0.8);
  &.full-height {
    height: 100%;
    position: static;
  }
  .overlay-light{
    z-index: 9;
  }
  .bluring{
    z-index: 10;
  }
  #splash-image{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 8;
    &.home{
      background-image: image-url("dont_forget_to_write.jpg");
    }
  }
  #back-image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -8;
    pointer-events: none;
    background: black;
  }
  #splash-content{
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    right: 0;
    font-size: $font-size-large;
    .alpha-static{
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.8);
    }
    input{
      background-color: black;
      color: white;
    }
    input[autofocus="autofocus"]{
      background-color: transparent;
    }
    input[type="text"]{
      background-color: transparent;
    }
    h1{
      margin-top: 0;

    }
  }
  a{
    color: white;
  }
}

// Fullpage Splash Image

// Signin Signup Ends
#signin-prompt{

  width: 281px;
  margin: 0 auto;
  .fb-signin-button{
    background: image-url("btn_homepage_facebook.png") no-repeat 0 0;
    width: 281px;
    display: block;
    height: 52px;

    &:hover{
      background: image-url("btn_homepage_facebook.png") no-repeat 0 0;
      background-position: 0px -56px
  }
}
}

// My flat clolors
.turquoise { background-color:  #1abc9c}
.emerland { background-color:  #2ecc71}
.peter-river { background-color:  #3498db}
.amethyst { background-color:  #9b59b6}
.wet-asphalt { background-color:  #34495e}
.green-sea { background-color:  #16a085}
.nephritis { background-color:  #27ae60}
.belize-hole { background-color:  #2980b9}
.wisteria { background-color:  #8e44ad}
.midnight-blue { background-color:  #2c3e50}
.sun-flower { background-color:  #f1c40f}
.carrot { background-color:  #e67e22}
.alizarin { background-color:  #e74c3c}
.clouds { background-color:  #ecf0f1}
.concrete { background-color:  #95a5a6}
.orange { background-color:  #f39c12}
.pumpkin { background-color:  #d35400}
.pomegranate { background-color:  #c0392b}
.silver { background-color:  #bdc3c7}
.asbestos { background-color:  #7f8c8d}
// My flat colors


// Loading background

#loading-filter-background{
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
  z-index: 10000;
  background: black;
  @include opacity(0.75);
  height: 200px;
  width: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#loading-filter-image{
  position: relative;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
  top: 60px;
  }
.loading-text{
  position: relative;
  top: 80px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: white;
}

//Loading background ends
.container{
  h1{
    text-align: center;
  }
}
#my-tag-index-container{
  ul{
  margin: 0 auto;
}
  li{
    min-width: 200px
  }
}
