// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carousel-page-thumbs{
  width: 300px;
  margin: 20px 0;
}
#frame-container{
  position: relative;
}
#about-story{
  font-size: $font-size-large;
}
#show-page-share{
  min-height: 32px;

  &.onframe{
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    z-index: 100;
    .addthis_toolbox.addthis_default_style{
      max-width: 32px;
      a{
        padding: 2px;
      }
    }
  }
}

#show-page-comment-bar{
  li{
    background: #efefef;
    padding: 10px;
    margin-top: 10px;
  }
}
.comment-blk{
  background: #efefef;
  padding: 10px;
  margin-top: 10px;
}

#my-sqooz-show-page{
  overflow: hidden;
  // .overlay-right{
  //   left: 0;
  //   position: absolute;
  //   height: 100%;
  //   width: 15%;
  //   z-index: 30;
  // }
}



#show-page-share-bar{
  text-align: right;
  position: absolute;
  right: 0;
  height: 100%;
  width: 15%;
  z-index: 30;
  font-size: 24px;
  padding: 15px;
  padding-right: 25px;
  a{
    color: white;
    @include opacity(0.6);
  }

  li{
    color: #8e8e8c;
    &:hover{
      a{
        @include opacity(1);
      }
    }
  }
  .dropdown-menu{
    right: 0 !important;
    a{
      color: $link-color !important;
      @include opacity(1);
    }
  }
}

.no-framecode{
  #show-page-share-bar{
    height: auto;
    width: 55px;
    padding: 10px;
    text-align: center;
  }
  
}

#my-sqooz-show-page.no-framecode{
  width: 100%;
  height: 100%;
  position: fixed;
  #sqoozit-frame{
    width: 100% !important;
    height: 100% !important;
  }
}

.yellow{
  color: #F4C24B !important;
}

.list-page-container{
  border-bottom: 1px solid $border-color;
}
// My grid continer Starts
.page-container.user-profile-container{
  @include box-shadow(none);
  border: 0;
  min-height: 200px;
  color: $text-color;
  .btn-default{
    color: $text-color;
    &:hover{
      color: $special-link-color;
    }
  }
  #detail-block{
    @include box-shadow(0 2px 4px rgba(0,0,0,0.1));
    background-color: white;
    padding: 0px 8px;
    border: 1px solid $border-color;
    img.img-circle{
      width: 100px !important;
      height: 100px !important;
    }
    li{
      margin-top: 5px;
    }
    .btn-group-vertical {
      width: 90%;
      margin-bottom: 5px;
    }
  }

  #user-statistics{
    @include box-shadow(0 2px 4px rgba(0,0,0,0.1));
    background-color: white;
    margin-top: 10px;
    a{
      font-size: $font-size-base;
      color: $text-color;
      &:hover{
        color: $special-link-color;
      }
    }
    li{
      width: 50%;
    }
    li.last{
      width: 100%;
    }
  }

  #recent-activity{
    @include box-shadow(0 2px 4px rgba(0,0,0,0.1));
    background-color: white;
    text-align: left;
    border: 1px solid $border-color;
    margin-top: 10px;
    .list-group-item{
      padding: 6px;
    }
    p{
      margin: 0;
    }
    img{
      width: 40px !important;
    }
    h3{
      font-size: $font-size-base;
    }
    li{
      font-size: $font-size-small;
    }
    li.first{
      font-weight: bold;
      font-size: $font-size-base;
    }
  }
}

#my-grid-container{
  h2{
    font-weight: normal;
  }
  .page-image{
    // width: $page-image-width;
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  } 
  color: white;
  a{
    color: white;
    &:hover{
      @include opacity(0.8);
    }
  }
  .btn-default{
    color: $text-color;
    &:hover{
      color: $special-link-color;
    }
    
  }
  text-align: center;

  .page-container{
    // width: $page-image-width;
    // width: 350px;
    border: 1px solid $border-color;
    .overlay-light{
      display: none;
    }
    &:hover{
      .play-icon, .overlay-light{
        display: block;
        cursor: pointer;
      }

    }
    .image-container{
      background-color: #ffffff;
      min-height: 120px;
      overflow: hidden;
      padding: 0;
      position: relative;
      
    }
    word-wrap: break-word;
    .top-title{
      padding: 6px 6px;
      h3{
        font-weight: bold;
        font-size: $font-size-base;
      }
    }
  }



  .content-down{
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 10px;
    cursor: pointer;
    z-index: 40;
  }
  .list-name{
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    cursor: pointer;
    z-index: 40;
    
  }
  .about-page{
    position: absolute;
    right: 0;
    top: -280px;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 60;
    padding: 20px;
    .content-up{
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
      padding: 10px;
    }
  }
  
  .play-icon{
    cursor: pointer;
    position: absolute;
    left: 50%;
    font-size: 50px;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    z-index: 50;
  }
  .page-content{
    position: absolute;
    left: 0;
    top:25px;
    z-index: 30;
    padding: 10px;
    width: 100%;
    line-height: 10px;
  }

  .activity-text{
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 20px;
    text-align: left;
  }
  
  .page-bar{
    padding: 10px;
    width: 100%;
    background: white;
    text-align: right;
    h3{
      text-align: left;
      margin-top: 0px;
    }
    li{
      padding-right: 0px;
    }
    color: $text-color;
    
    a{
      color: $text-muted;
      &:hover{
        color: $special-link-color;
      }
    }
  }
  li.page-domain{
    width: 230px;
    text-align: right;
  }
}
// My grid continer Ends

// My list container starts here
.user-thumb{
  width: 100px;
  height: 100px;
}
#comments-container{
  .media{
    background: white;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $border-color;
  }
}
#my-list-container{
  .thumb-container{
    width: auto !important;
  }
  .media{
    // min-height: 100px;
    padding-left: 0px;
  }
  .about-record{
    margin-bottom: 0px;
  }
  .media-body-container{
    padding: 5px;
    padding-left: 10px;
  }
  li.my-border{
    margin-bottom: 15px;
    background-color: white;
  }
  h3{
    a{
      color: $text-color;
      &:hover{
        color: $special-link-color;
      }
    } 
  }
  .img-circle{
    width: 60px;
    height: 60px;
    &:hover{
      @include opacity(0.8);
    }
  }
  .comment-img{
    width: 75px;
    height: 75px;
    &:hover{
      @include opacity(0.8);
    }
  }
  
  .links-layer{
    a{
    @include speacial_hover_link;
    }
  }
}

#notification-container{
  .media{
    // padding: 5px 5px 2px 5px;
    // img{
    //   height: 100%;
    // }
  }
  li{
      margin: 5px;
  }
  .about-record{
    font-size: $font-size-small;
  }
}


.inner-filters{
  font-weight: bold;
  margin: 20px 20px;
}


#new-page-container{
  

  textarea:focus, input:focus{
    outline: 0;
  }

  #custom_new_page_form{
    margin-top: 50px;
    
    
  }
  #custom_url{
    font-size: $font-size-large;
    font-weight: normal;
    height: auto;
  }

  .page-form{
    margin-top: 40px;
    padding: 20px;
    input, textarea{
      font-size: $font-size-large;
      font-weight: normal;
      height: auto;
    }
    select{
      font-size: $font-size-large;
      font-weight: normal;
      height: auto;
    }
  }

}

#add-tags{
  li{
    // width: 25%;
    float: none;
    .glyphicon{
      float: right;
      font-weight: normal;
    }

    &:hover{
      a{
        color: $special-link-color;
      }
    }
    &.active{
      &:hover{
        a{
          color: white;
        }
      }
    }

  }
}

// Interests page css
#add-interests, #list-interest{
  li{
    // width: 25%;
    float: none;
    .glyphicon{
      float: right;
      font-weight: normal;
    }

    &:hover{
      a{
        color: $special-link-color;
      }
    }
    &.active{
      &:hover{
        a{
          color: white;
        }
      }
    }

  }
}
// interests page css


// best_video_modal

#best_video_modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(36,42,51, 0.98); 
  display: none;
  z-index: 2999;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  left: 0;
  top: 0;
  color: white;
  a{
    color: white;
  }
  img{
    border: 1px dashed #ffffff;
  }
  h2#best-title{
    font-size: $font-size-h1;
    font-weight: normal;
  }
  h2{
    text-transform: uppercase;
    font-weight: normal;
  }
  #close_best_video_modal{
    position: absolute;
    top: 20px;
    right: 20px;
    font-style: italic;
    color: #777;
  }
}

// best_video_modal

#issue-with-playing{
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  z-index: 20;
}