<% unless @resource.invite_for_job %>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<div bgcolor="#e5f5f7" marginheight="0" marginwidth="0" style="margin:0;padding:0;width:100%!important;background:#e5f5f7">

<table width="100%" bgcolor="#e5f5f7" border="0" cellspacing="0" cellpadding="10"><tbody><tr><td width="100%">

  <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;border-collapse:collapse;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc">
      <tbody>
        <tr>
            <td width="1" bgcolor="#cccccc" style="font-size:1px;line-height:1px"></td>
            <td width="598" bgcolor="#ffffff" style="min-width:598px">
              <table width="578" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
                <tbody>
                    <tr>
                        <td width="578" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="578" height="75" valign="top" style="font-family:Arial,sans-serif;font-size:24px"><a href="<%= root_url %>" target="_blank">Sqooz</a></td>
                    </tr>
                    <tr>
                        <td width="578" style="color:#4f4f4f;font-family:Arial,sans-serif;font-size:14px;line-height:18px">
                            <span style="font-weight:bold">
                                    Hello <%= @resource.email %>,
                            </span>
                            <br><br>
                            You have been invited to join Sqooz. Click the link below to accept the invitation.
                            <p>
                              <%= link_to "Accept Invitation" , accept_invitation_url(@resource, :invitation_token => @token) %>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="578" style="color:#4f4f4f;font-family:Arial,sans-serif;font-size:14px;line-height:18px">
                            <p>If you never requested an invitation. Please ignore this email</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="578" height="20">&nbsp;</td>
                    </tr>
                </tbody>
              </table>      
            </td>
        </tr>
      
      </tbody>
  </table>

</td></tr></tbody></table>

</div>
  </body>
</html>
<% else %>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<div bgcolor="#e5f5f7" marginheight="0" marginwidth="0" style="margin:0;padding:0;width:100%!important;background:#e5f5f7">

<table width="100%" bgcolor="#e5f5f7" border="0" cellspacing="0" cellpadding="10"><tbody><tr><td width="100%">

  <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;border-collapse:collapse;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc">
      <tbody>
        <tr>
            <td width="1" bgcolor="#cccccc" style="font-size:1px;line-height:1px"></td>
            <td width="598" bgcolor="#ffffff" style="min-width:598px">
              <table width="578" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
                <tbody>
                    <tr>
                        <td width="578" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                    </tr>
                    <!-- <tr>
                        <td width="578" height="75" valign="top" style="font-family:Arial,sans-serif;font-size:24px"><a href="<%= root_url %>" target="_blank">Sqooz</a></td>
                    </tr> -->
                    <tr>
                        <td width="578" style="color:#4f4f4f;font-family:Arial,sans-serif;font-size:14px;line-height:18px; font-weight: bold;">
                            <br>
                            <span style="font-weight:bold">
                                    Hello <%= @resource.try(:username) || @resource.email %>,
                            </span>
                            <br>
                            <p >We have noticed that you applied for Content Writer job at <%= link_to "Sqooz", root_url %>. If you have not applied for any position at <%= link_to "Sqooz", root_url %>, please ignore this email.
                            </p>  
                            
                            <p>For the first round of the interview you are required to write two samples stories on two different interests at <%= link_to "Sqooz", root_url %>. You can choose any interest to write about on the <%= link_to "Write a Story", new_page_url(:ptype => Page::PTYPES["story"]) %> page. Please ensure the stories are not copied from other sources(we will cross check). Once you finish writing the sample stories, notify us by replying to the same and we will get back to you with for further processing.</p>
                            
                            <p>
                                Please click the link below to activate your account and start sqoozing. Best of Luck!
                            </p>
                            
                            <p>
                              <%= link_to "Accept Invitation" , accept_invitation_url(@resource, :invitation_token => @token) %>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <p>Following are the details about the position:</p>
                        <p>
                          <p>
                              <b>Job Profile:</b>At this time We are looking for fresher/experienced Content Writer/Social Media Geek. As a Content Writer you will own channels at Sqooz and you will be responsible for pushing unique stories/blogs/videos from many different categories to your channels.</p><p><b>Company Profile:</b>Sqooz.It is a social blogging platform where users can share stories/blogs/videos on a channel. Users can also subscribe to other channels and do lot more. As a startup we are passionate about running our own channels at Sqooz and we work hard to maintain quality of all our channels.</p><p><b>Responsibilities:</b></p>
                              <ul><li><p>You will be given ownership of multiple channels at Sqooz</p></li><li><p>You will be responsible for pushing lot of videos and blogs to the channels you own</p></li><li><p>Managing multiple accounts</p></li><li><p>Researching all over on the web for new videos and ideas for blogs</p></li><li><p>Adding an overview to the uploaded videos</p></li><li><p>Reaching daily targets</p></li><li><p>Generating daily reports</p></li></ul><p><b>Requirements:</b></p><ul><li><p>Awesome written and verbal skills</p></li><li><p>Must have a laptop and an moderate speed internet connection</p></li><li><p>Always googling something</p></li><li><p>A social media geek(The more active you are on FB and Twitter, the better you will do at Sqooz)</p></li><li><p>Fresh graduate are welcomed</p></li></ul><p><b>Perks:</b></p><ul><li><p>Flexible hours</p></li><li><p>Work from home</p></li></ul><div><br></div></p>
                        <p>
                            Thanks<br />
                            Vipin Nagpal<br />
                            Content Manager<br/>
                            <%= link_to "http://www.sqooz.it", root_url %>
                        </p>
                    </tr>
                    <tr>
                        <td width="578" height="20">&nbsp;</td>
                    </tr>
                </tbody>
              </table>      
            </td>
        </tr>
      
      </tbody>
  </table>

</td></tr></tbody></table>

</div>
  </body>
</html>
<% end %>