<div class="container margin-top-30" >
  <div class="row">
    <div class="col-xs-12">
      <h1>Channels to follow</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="masnory-container-channel">
        <%= render partial: "channels/channel", collection: @channels %>
      </div>
    </div>
  </div>
</div>