<div class="container" >
<div class="margin-top-30"></div>
  <div class="row">
    
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>What do you want to explore, <%= current_user.username %>?</h1>
      <% if @added_interest_ids.empty? %><h3 class="margin-top-0 text-center">Please select at least 5 interests to personalize your Sqoozes.</h3><% end %>
      <div class="row">
        <% @interests.in_groups_of(4).each do |ginterests| %>
          <div class="col-xs-12 col-sm-4 co-md-3">
             <ul class="nav nav-pills"  id="add-interests">
              <% ginterests.compact.each do  |interest| %>
                <li class="<%=  @added_interest_ids.include?(interest.id) ? 'active' : '' %>"><%= link_to interest.name, "#", :data => {:id => interest.id }, :class => @added_interest_ids.include?(interest.id) ? 'remove-interest' : 'add-interest', :title => interest.name  %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="margin-top-30"></div>
</div>