<% if params[:action] == "top_users" %>
<% content_for :title, "Top sqoozers on #{SITENAME}" %>
<% content_for :description, "Explore best stories and videos from top sqoozers on #{SITENAME}"  %>
<% end %>

<div class="container" >
<div class="margin-top-30"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <% if params[:action] == "top_users" %>
        <h1>Top Users</h1>
      <% end %>
      <% if @users.empty? %>
        <h2>Oops! Looks like something is wrong. We are looking into this. Try following some lists and interests.</h2>
      <% end %>
      <div id="my-list-container">
        <ul class="list-unstyled">
          <li class="exo-banner-798">
            <%= render "shared/exoclick_banner_728X90.html.erb" %>
          </li>
          <%= render partial: "users/user", collection: @users %>
        </ul>
      </div>
    </div>
  </div>
  
  <%= link_to_next_page @users, 'Next Page', :class => "hide" %>

</div>