<!DOCTYPE html>
<!--[if lt IE 9]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/tr/xhtml1/DTD/xhtml1-transitional.dtd"> 
<![endif]-->

<html lang="en" >
  <head>
    <%= favicon_link_tag %>
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:description) %>">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "medium", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "medium", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% if @canonical %>
      <link rel="canonical" href="<%= @canonical %>">
    <% end %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= yield :head %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag    "ie8.css", media: "all", "data-turbolinks-track" => true %>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body <%= "class=sqooz-it-container" if params[:action] == "show" && @page  %>>
    <div id='loading-filter-background'>
      <div id='loading-filter-image'>
        <%= image_tag "spinner.gif" %>
      </div>
      <div class="loading-text">
        Loading
      </div>
    </div>
    <%= include_gon %>
    <%= render "shared/sidebar" %>
    <div class="wrap " id="top_wrapper">
      <%= render "shared/header" %>
      <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
          <div  class="margin-bottom-0 alert <%= flash_class(level) %>">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :p, flash[level] %>
          </div>
        <% end %>
      <% end %>
     <%= render "shared/login_modal" if !current_user && !params[:controller].match("devise")  %>
     <%= yield %>
    </div>
    <%= render "shared/footer" %>

    <%= yield :js %>
    
  </body>
</html>